@*@model STP.Domain.RoadOwnership.RoadOwnershipData*@

<style>
    .topmargin {
        margin-top: 180px;
    }

    .width1 {
        width: 200px;
    }
</style>

<div id="SearchOwnership">
    <button style="width: 167px;display:none;" id="searchOrganisation" class="create btngrad btnrds btnbdr margintop6 marginbottom7" aria-hidden="true" data-icon="">Select organisation</button>
    <button  id="clearOrgData" class="create btngrad btnrds btnbdr margintop6 marginbottom7" style="display:none;" aria-hidden="true" data-icon="">Clear organisation roads</button>
    <div>
        <table style="width: 240px; margin-left: 7px;">
            <tbody>
                <tr style="width: 45px;">
                    <td>
                        <input type="checkbox" id="unassigned" />
                        Unassigned roads</td>
                </tr>
                <tr style="width: 45px;">
                    <td id="showowned" style="display: none">
                        <input type="checkbox" id="owned" />
                        Select all owned roads </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="assignroads"  style="width: 167px; display: none" class="create btngrad btnrds btnbdr margintop6 marginbottom7" aria-hidden="true" data-icon="">Set road ownership</button>
    <button id="clearSelectedRoads"  style="width: 167px; display: none" class="create btngrad btnrds btnbdr margintop6 marginbottom7" aria-hidden="true" data-icon="">Clear selected roads</button>

    @using (Html.BeginForm("SearchLinkId", "RoadOwnership"))
    {  
        <div class="topmargin">
            <table class="quick_tbl">
                <thead>
                    <tr>
                        <th class="headgrad">Search road segment
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    }
</div>
<script src="~/Scripts/CspJs/RoadOwnership/SearchRoadOwnershipOrg.js?V@(Session["ProjectVersion"])"></script>
