@{
    ViewBag.Title = "ListDrivingInstuctions";
    string generateInstr = ViewBag.generatePrintFlag;
}
<style>
    #routeNotifBody th:last-child {
        background-color: rgba(39, 87, 149, 1) !important;
    }
</style>
<div id="div_ListDrivingInst">
    @{
        if (ViewBag.instruction == null || ViewBag.instruction == "")
        {
            <div class="cardSOA1 mt-0" style="text-align:center;">
                <h6 class="text-color3 stHeading1 m-0">No driving instructions</h6>
            </div>
            <div id="Nodrivinginstr">
                <input type="hidden" id="nodrive" value="nodrive" />
            </div>
        }
        else
        {
            <td>@Html.Raw(ViewBag.instruction)</td>
        }
    }
</div>