
@model STP.Domain.MovementsAndNotifications.Notification.OrganisationUser

@{
    ViewBag.Title = "NENotif_leftPanel";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
    <tbody>
        <tr id="trShowRouteTab">
            <td class="searchtableleftNEN">
                <button type="button" id="btnShowRouteTab" style="float: left;margin-left: 43px !important;" title="" class="create btngrad btnrds btnbdr pointerCursor" aria-hidden="true" >Verify route</button>
            </td>
        </tr>
        <tr>
            <td>
                <b style="margin-left: 43px;font-size:11.5px;">Assign notification to another user</b>
            </td>
        </tr>
        <tr>
            <td class="searchtableleftNEN">
                @Html.DropDownListFor(m => m.OrganisationUserId, ViewBag.OrgUserDropDown as SelectList, "--Select user--", new { @id = "OrganisationUserId" })

                <button type="button" id="GenerateBtnID" style="float: left;margin-left: 43px !important;" title="" class="create btngrad btnrds btnbdr pointerCursor" aria-hidden="true" >Assign</button>
                <br />  <span id="err_user_exists" class="error" style="margin-left: 43px;"></span>
            </td>
        </tr>
        <tr>
            <td align="center">
                <button type="button" class=" btngrad btnrds btnbdr buttonwidth" aria-hidden="true" >Accept/Reject movement</button>
            </td>
        </tr>
        <tr>
            <td align="center">
                <button type="button" class=" btngrad btnrds btnbdr buttonwidth" aria-hidden="true" >Confirm route and vehicle</button>
            </td>
        </tr>
    </tbody>
</table>*@

<div class="modal-header pt-3 pb-3 pr-3 pl-3 pb-3s" style="display: contents;">
    <div class="row">
        <div class="col-lg-9 col-sm-7 col-md-7 pl-4 pt-8">
            <span class="text-normal pr-2" style="font-family: lato_light;font-size:20px;margin-top: -2rem;float: right;">
                Assign notification to another user
            </span>
        </div>
        <div class="col-lg-3 col-sm-5 col-md-5 pr-4">
            <div style="justify-content: end;" id="table-head">
                <span aria-hidden="true" class="close pl-0 ml-2 pt-1"
                      data-dismiss="modal" aria-label="Close" onclick="CloseGeneralPopup()" style="cursor:pointer;">&times;</span>
            </div>
        </div>
    </div>
</div>
    <div id="NENAssignPopUp">
        <div class="row pl-4 pr-4 pt-2">
            <div class="row pb-3">
                <div class="col-lg-1 col-md-2 col-sm-2">
                </div>
                <div class="col-lg-10 col-md-6 col-sm-6">
                    @Html.DropDownListFor(m => m.OrganisationUserId, ViewBag.OrgUserDropDown as SelectList, "--Select user--", new { @id = "OrganisationUserId", @class = "form-select select2 text-normal-hyperlink" })

                </div>
            </div>

                <div class="row pb-2">
                    <div class="flexer text-align-center pt-2 pb-4 pl-6 pr-4" style="margin-left: auto;margin-right: auto;">
                        <div class="button main-button mr-2">
                            <button class="btn btn-outline-primary btn-normal pl-8 pr-8" type="button" aria-pressed="true" onclick="btn_AssignUser()">
                                ASSIGN
                            </button>
                        </div>
                        <div class="button main-button mr-2">
                            <button class="btn btn-outline-primary btn-normal pl-7 pr-7" role="button" aria-pressed="true" onclick="CloseGeneralPopup()">
                                CANCEL
                            </button>
                        </div>

                    </div>
                </div>
            </div>
    </div>
<style>
    .select2 {
        padding: 1rem;
        width: 100% !important;
    }
</style>

<input type="hidden" value="@ViewBag.User_id" id="hf_User_id" name="hf_User_id" />

<script src="~/Scripts/NENNotification/NENotificationAssignPopUp.js?V@(Session["ProjectVersion"])"></script>
