
<div class="row mt-4">
    <div class="col-lg-12 col-md-12 col-sm-12" id="route_importlist_cntr">
        <span id="list_heading" class="title"></span>

    </div>

</div>

<style>   
    .routes, .movements {
        margin-left: 0%;
        padding-left: 0%;
    }

    .vehicle-setting .main-table {
        border-radius: 25px 0px 0px 0px;
    }
    .vehicle-setting td {
        text-align: left;
    }
    .vehicle th:nth-child(10) {
        background: white;
    }
</style>

@{
<input type="hidden" value="@ViewBag.ImportFrm" id="hf_ImportFrm" name="hf_ImportFrm" />
<input type="hidden" value="@ViewBag.IsFavourite" id="hf_IsFavourite" name="hf_IsFavourite" />
}
<script src="~/Scripts/SORTApplication/_SORTSelectRouteByImport.js?V@(Session["ProjectVersion"])"></script>
