
@{
    ViewBag.Title = "Create Candidate Route Version";
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}
<div class="col-lg-3 col-md-4 col-sm-12 pl-3"></div>
<div class="col-lg-9 col-md-4 col-sm-12 pl-3" id="CreateCandidateRoute">
    <div>
        <div class="row pb-4">
            <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
                Select route
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <select id="ddlroutes" class="form-select text-normal select1">
                    <option value="0">---------Select routes--------</option>
                    <option value="application">Last Application routes</option>
                    <option value="lastcandidate">Last Candidate routes</option>
                </select>
                <span id="trvalidcandrt" class="error invalid-feedback">route is required.</span>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" id="table-head">
                <button id="btnValidate" class="btn outline-btn-primary pl-0 pr-0">OK</button>
                <button id="btnRemoveCandidateButton" class="btn outline-btn-primary pl-0 pr-0 ml2">CANCEL</button>

            </div>
        </div>
    </div>
</div>