

<div class="filters divViewMapFilter"  data-targetid="viewMapFilter">
	<div id="table-head">
		<div class="col-10 col-md-10 col-sm-10">
			<span>
				Map Search
			</span>
		</div>
		<div class="col-2 col-md-2 col-sm-2 pl-3">
			<img id="chevlon-up-icon4" class="chevlon-up-icon-map" src="~/Content/assets/images/up-chevlon-filter.svg" width="15"
				 style="display: none;">
			<img id="chevlon-down-icon4" class="chevlon-down-icon-map" src="~/Content/assets/images/down-chevlon-filter.svg" width="15"
				 style="display: block">
		</div>
	</div>
</div>
<div class="pr-0 pl-4 mr-0 ml-0 mt-4 mb-0 input-field" id="viewMapFilter" style="display: none;">
	<div class="row pb-2">
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto; font-style:italic">
			Follow the below instruction to search records based on road links and/or structures:
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto;">
				1. On expanding the map search tab, map will be loaded on the background. Select one or both check boxes to search records based on structures and/or roads.
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto;">
				2. Close the filter and select a region in map using ‘Select road links by polygon’ tool.
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto;">
				3. Open the filter and click on the search button.
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-lg-1 col-sm-1 col-md-1 pr-4">
			<input type="checkbox" id="cbStructurefilter" class="checkbox" name="submitted" value="submitted"
				   width="20">
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto;">
			Include structure in selected area
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-lg-1 col-sm-1 col-md-1 pr-4">
			<input type="checkbox" id="cbRoadfilter" class="checkbox" name="submitted" value="submitted"
				   width="20">
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal"
			 style="margin-top: auto;margin-bottom: auto;">
			Include road in selected area
		</div>
	</div>
	<div class="row pb-2 pt-3">
		<div class="col-sm-12 col-md-12 col-lg-12 pr-0">
			<label class="text-normal ">Address</label>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-sm-12 col-md-12 col-lg-12 input-field">
			<input class="edit-normal" type="text" id="txtAddressSearch" autocomplete="on" name="Addresssearch" pointNo=0 pointType=0 title="Address of location. Press ENTER key after entering the address. Separate street and city by a comma." onkeypress="handleAddressSearch(event, this)">
		</div>
	</div>

</div>
@*<script src="~/Scripts/CspJs/SORTApplication/MapFilter.js?V@(Session["ProjectVersion"])"></script>*@
