


<div style="width:100%;">
    <span> Map View </span>
    <div id="map" style="height: 590px;" class="google-map"></div>



</div >
<script src="~/Scripts/SORTApplication/MapFilterDetail.js?V@(Session["ProjectVersion"])"></script>