<div class="flexer justify-content-center pt-4" id="menu-buttons">
    <button class="btn outline-btn-primary SOAButtonHelper">
        <span class="pr-3">
            <img src="~/Content/assets/images/withdrawn.svg" width="15">
        </span>Edit
    </button>
    <button class="btn outline-btn-primary SOAButtonHelper">
        <span class="pr-3">
            <img src="~/Content/assets/images/withdrawn.svg" width="15">
        </span>Delete
    </button>
    <button class="btn outline-btn-primary SOAButtonHelper">
        <span class="pr-3">
            <img src="~/Content/assets/images/withdrawn.svg" width="15">
        </span>Create SO document
    </button>
    <button class="btn outline-btn-primary SOAButtonHelper">
        <span class="pr-3">
            <img src="~/Content/assets/images/withdrawn.svg" width="15">
        </span>Create ammendment order
    </button>
</div>

