@{ 
    bool IsTermsAndConditionsAccepted = ViewBag.IsTermsAndConditionsAccepted != null ? (bool)ViewBag.IsTermsAndConditionsAccepted : false;
}
<div class="row pt-8 pr-0">
    <div class="row mt-4" style="float: right;padding-left:62%">
        <div class="col-lg-11 col-md-11 col-sm-11 mt-5 pl-0 ml-0 pr-2">
            <button class="btn btn-outline-primary SOAButtonHelper ml1 mb-2 btn-border-remove " style="background-color: white;white-space:nowrap;text-align:center;padding-left:2rem;padding-right:2rem" id="back_btns">BACK</button>
            <button class="btn btn-outline-primary SOAButtonHelper ml-2 mb-2 btn-border-remove " style="background-color: white; width: auto; white-space: nowrap; text-align: center; padding-left: 2rem; padding-right: 2rem" id="apply_btn1">ACCEPT T&C'S AND SUBMIT</button>


        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 notif-term-condtn" id="table-head">
        <span class="title">Terms and conditions</span>
        <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-icon"
             style="@(IsTermsAndConditionsAccepted?"":"display: none;") cursor: pointer;">
        <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-icon"
             style="@(IsTermsAndConditionsAccepted?"display: none;":"") cursor: pointer;">
    </div>
</div>
<hr>
<div class="mt-4 main-entry">
    <div class="row" id="terms-and-conditions" style="@(IsTermsAndConditionsAccepted?"display: block;":"display: none;")">
        <div class="col-lg-11 col-md-11 col-sm-11">
            <div class="text-normal" style="font-family: lato_bold;">
                NOTE: ESDAL requires you to
                acknowledge your acceptance of
                the terms and conditions for notifications. To begin notifying, you must click the ‘ACCEPT T&C'S AND SUBMIT’ button.
            </div>
            <ol>
                <li>
                    By accepting these Terms and Conditions you must accept that the
                    data entered for the movement is as accurate as possible.
                </li>
                <li>
                    ESDAL will suggest the most appropriate notification type based on the vehicle
                    dimensions inputted by the user, however ESDAL cannot guarantee the
                    appropriateness of this categorisation.
                </li>
                <li>
                    ESDAL shall attempt to send a notification to all appropriate authorities via ESDAL as designated by the recipient’s preference (inbox or email).
                    The list of recipients is determined from the route planned via the route planning tool, and information supplied to ESDAL by structure owners, road owners and local authorities.
                    The ESDAL route planner plots a route between your Start and End points via the trunk road network wherever possible, and avoiding legal and physical restrictions on the roads.
                    It does not currently avoid any restrictions associated with structures: it is your responsibility to review and amend your proposed route taking into account any structural, environmental or other restrictions as well as reviewing the affected parties the notification will be sent to.
                    ESDAL cannot guarantee the accuracy and completeness of this data.
                </li>
                <li>
                    ESDAL cannot guarantee that an email has been received but will include a request to
                    confirm receipt within the email notification.
                </li>
            </ol>
        </div>
    </div>
</div>
