.dropdown11 
{
color: #555;
margin-left:11px;
width: 99%;
position: relative;
height: 17px;
text-align:left;
z-index:0;
}
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 16rem;
display: none;
margin-left: 5px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown11 li a 
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown11 li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
.active
{
/*background:#155FB0;
color: #FFFFFF;
text-decoration: none;*/
}
a.account {
    line-height: 16px;
    color: #000;
    position: absolute;
    z-index: 110;
    display: block;
    height: 28px;
    /*width: 15rem;*/
    margin: 6px 0 0 -10px;
    text-decoration: none;
    /*background: url(../../Images/Common/MasterPage/arrow.png) 180px 17px no-repeat;*/
    cursor: pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 2px 0 0 0px;
border-top:1px solid #dedede;
}
.root li{margin-bottom:2px;}