.Help_form{
	width: 890px;
	float: left;
	
	 font-family: 'Helvetica', Arial, sans-serif; 
	 /*margin-top: 20px; margin-bottom: 20px; */
	 -moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius:10px;
 	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	
}
.Help_form .head{ 
	color: #fff; 
	text-align: left; 
	font-size: 15px; font-weight: bold;
	width: 892px;
    float:left;
	background-color: #006699;
	padding-top: 10px; padding-bottom: 0px; padding-left: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius:10px;
 	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

}

.Help_form .head span{ height:15px; width:15px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; 
	background: #DBE9F0;
  /*background: linear-gradient(top, rgba(231,241,249,1) 0%,rgba(200,215,226,1) 100%);*/ background:#CCCCCC;
 float:right; padding:5px;
  color: #4A5359;
  margin-right:10px;
  margin-bottom:10px; cursor:pointer;
}
/*.form .head .page_help {background:url('../../Images/Common/MasterPage/ESDAL2_help.png') no-repeat;}*/
.Help_form .head span:hover{ background:#fff; }
.Help_form .Help_body{ 
	background: #F7F7F7; 
	color: #414193; 
	text-align: left; 
	font-size: 13px;  
	width: 880px; height: auto; float: left;
	padding-top: 10px; padding-bottom: 10px;  padding-left: 10px; padding-right: 10px;
	
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #cccce2;	border-right: 1px solid #cccce2; border-bottom: 1px solid #cccce2;
}
