/*=================================
Developed By : Nidhin.v.v
Developed Date : 11-6-2013
Doc Type: CSS Document
=================================*/
body {
    padding:0px; margin:0px;
    background:#ffffff;
    font-size:13px;
    font-family:'';
    color:#414193;
    font-family:'Helvetica', Arial, sans-serif !important;
}

#wrapper {
    width:100%;
    margin:0px;
    float:left;
    height:100%;
    background:#fff;
}
#wraper_leftpanel {
    width:252px;
    max-width:252px;
    min-width:252px;
    left:0px;
    position:fixed;
    top:0;
    border-right:2px solid #0f579a;
    bottom:40px;
    background:#ffffff;
}
#Map_View {
     min-width:772px;
    height:500px;
    position:absolute;
    left:0px;
    right:0px;
    bottom:50px;
}
#wraper_leftpanel_content {
    width:250px;
    max-width:250px;
    min-width:250px;
    left:0px;
    /*position:fixed;*/
    top:95px;
    bottom:40px;
    overflow:auto;
    padding-bottom:50px;
    
}
#rightpanel {
    right:0px;
    height:auto;
    min-width:772px;
    left:254px;
    position:absolute;
    top:0;
}
/*--------------------------- footer section start here ---------------------------*/
#footer_all{
	margin: 0px;
	/*float: left;*/
	height: 40px;
	width: 100%;
    background: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
    /*---- for fixing footer at the bottom ----*/
    position:fixed;
    margin-top:0px;
	/*top:92%;*/
	bottom:0;
}
#footer_all ul{ float:left; margin:0px; padding:0px; margin-top:8px; margin-left:0px; margin-top:17px;}
#footer_all a{color:#999999;text-decoration: none;}
#footer_all li{ float:left; padding-right:5px; padding-left:5px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; list-style:none; color:#999999;}
.fbar{border-right: 1px solid #999999;}
#footer_all li:last-child a {margin-top:0px;}
/*--------------------------- footer section end here -----------------------------*/
#headersection {
    min-width:772px;
    float:left;
    /*height:94px;*/
    position:fixed;
    left:254px;
    right:0px;
    z-index:100;
}
#contentsection {
    min-width:772px;
    margin-top:94px;
    height:auto;
    left:255px;
    right:0px;
}

#content {
    width:100%;
    float:left;
    height:auto;
    min-height:550px;
    margin-bottom:50px;
}


/*=============================================================================
header section start from here
=============================================================================*/
.ESDAL2_logo {
    height:95px;
    width:252px;
    float:left;
    margin:0px;
    padding:0px;
    background:url("../../Images/Common/MasterPage/newlogo.jpg") no-repeat;
    background-position:0px -47px;
}

/*------------------------- layout section start here ----------------------*/
.overflowhidden {overflow:hidden;}
.bg {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:-1;}
.color {color:#414193 !important;}
h4 {margin:10px 0px 10px 0px;}
/*-------------------------- layout section end here -----------------------*/

/*--------------- header section start here --------------------------*/
/*#header_all{background-image: url(../../Images/Common/MasterPage/header-shadow.png);background-repeat: repeat-x;margin: 0px;float: left;height: 141px;width: 1024px;position:fixed; z-index: 1005; margin-top:-47px;}*/
#header_all{background-image: url(../../Images/Common/MasterPage/header-shadow.png);background-repeat: repeat-x;margin: 0px;float: left;height: 141px;width: 100%;position:fixed; z-index: 1005; margin-top:-47px;}
#page_back {cursor:pointer; float:right; margin-top:10px; margin-right:10px;}
#pageheader {background: #fff;width: 100%;height: 43px;/*position: absolute;top: 92px;left: 0px;*/ float:left; z-index: 99;}
#pageheader h3 {width:auto; float:left; margin-top:13px; margin-left:5px;}
#tableheader {background: #fff;width: 99%;margin-left: 0.5%;height: 36px;position: absolute;/*top: 135px;*/left: 0px;z-index: 99; display:none;}
    

#logo-section{float: left;height: 141px;width: 252px;margin: 0px;background-image: url(../../Images/Common/MasterPage/newlogo.jpg);background-repeat: no-repeat;background-position: 0px 0px;}
#uppernav{margin: 0px;float: left;height: 47px;width: 100%;}
#uppernav .logo{margin: 0px;float: right;height: 47px;width: 182px;background-image: url(../../Images/Common/MasterPage/highways-logo1.png);background-repeat: no-repeat;	background-position: 0px 0px;}
#uppernav .user{margin: 0px;float: right;height: 47px;width: 226px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
/*.user div{float: left;height: 29px;width: 100%;margin-top: 18px;border-left-width: 2px;border-left-style: solid;border-left-color: #424758;color: #53A6A6; padding-left:10px;}*/
.user div{float: left;height: 29px;width: 100%; margin-top:0px; color: #53A6A6;}
.black{ color:#000000;}
#bottumnav{
	margin: 0px;
	float: left;
	height: 93px;
	width: 100%;
	overflow:hidden;
}
#bottumnav_navigation{
	margin: 0px;
	float: left;
	height: 94px;
	/*width: 672px;*/width:100%;
    z-index:1100;
}
#bottumnav_navigation .Hauliers_portal{margin: 0px;float: left;height: 44px;width: 181px;color: #FFFFFF;background:url(../../Images/Common/MasterPage/design_ASDAL_v02_07.gif) no-repeat;}
.Hauliers_portal span{ height:auto; width:auto; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:18px; float:left; margin-left:6px; margin-top:17px; }
.Hauliers_portal_helpdesk{ /*color:#d2d3d6;*/ color:#fff; float:left; margin-top:22px; margin-left:12px; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;}
#bottumnav_navigation_upper{margin: 0px;float: left;height: 44px;width: 100%;background-image: url(../../Images/Common/MasterPage/bottumnav_navigation_upper_bg.jpg);	background-repeat: repeat-x;}
/*#bottumnav_navigation_lower{background-image: url(../../Images/Common/MasterPage/bottumnav_navigation_lower_bg.jpg);background-repeat: repeat-x;float: left;height: 50px;	width:100%;}*/
#bottumnav_navigation_lower ul{ float:left; margin-left:20px; margin-top:20px; padding:0px;  }
#bottumnav_navigation_lower a{ text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#bottumnav_navigation_lower li{ float:left; list-style:none; width:auto; margin-right:0px; }
#bottumnav_icon{float: left;height: 94px;width: 100px;background-color: #666e88;}
.DfT {display:block; float:right; width:auto; height:22px; color:rgba(255, 255, 255, 1); padding-left: 10px;padding-top: 6px;margin-top: 8px; cursor:pointer;margin-right:9px; padding-right:10px; background:url(../../Images/Common/MasterPage/Dft_bg.jpg) repeat;}
.btn_icon { float:right; width:auto; background-color: #666e88; height: 44px;}
.button{width:29px;height:30px; float:left; margin-right: 6px;margin-top: 7px;margin-left: 6px; cursor:pointer;}
.helpbuilder {background:url(../../Images/Common/MasterPage/helpbuilder_icon.jpg) no-repeat;}
#menu > .active .bar{ width:100%; float:left; background:#e30040; height:5px; margin-top:12px; display:none;}
#menu > .active{ color:#e30040 !important;} .nonactive{ color:#18186e;}
#menu > .active {height:15px;}
.fontsize13 {font-size:13px !important;}
.leftpanelbutton {float:right !important; margin-right:10px;}
.right {float:right;}
.marginright_16{ margin-right:16px;}
.margin0{ margin:0px !important;}
.marginright_10{ margin-right:10px;}
.marginright_20{ margin-right:20px;}
.marginright_0{ margin-right:0px !important;}
.marginright_50{ margin-right:50px;}
.margintop_11{ margin-top:11px;}
.margintop_12{ margin-top:12px;}
.margintop20 {margin-top:20px;}
.margintop_6{ margin-top:6px;}
.marginleft_16{ margin-left:16px;}
.marginleft21{ margin-left:21px !important;}
.marginleft5{ margin-left:9px !important;}
.marginleft3{ margin-left:5px !important;}
.marginleft2{ margin-left:2px !important;}
.marginleft_10{ margin-left:10px;}
.margin-bottom3 {margin-bottom: 3px;}
.paddingright5 {padding-right:5px !important;}
.button1{ background:url(../../Images/Common/MasterPage/buttons.gif); background-position: -45px 0px; cursor:pointer; }
.button2{ background:url(../../Images/Common/MasterPage/buttons.gif); background-position: 0px 0px; }
.button3{ background:url(../../Images/Common/MasterPage/buttons.gif); background-position: 0px 30px; }
.button4{ background:url(../../Images/Common/MasterPage/buttons.gif); background-position: 29px 30px; }
.headgradsubbg {background:#5B92AD !important;}
/*--------------------------- header section end here -----------------------------*/

.left-menu{
	float:left;
	margin-left:-20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}
.span_structgeneral{float:left; width:100%; margin-bottom:10px;}
.left-menu li{ list-style:none; float:left; width:200px; height:35px; margin-bottom:5px; margin-top:7px; background:#006666; color:#FFFFFF; border-radius:7px;-webkit-box-shadow: 10px 0px 10px 1px rgba(100, 100, 100, 0.2);
box-shadow: 10px 0px 10px 1px rgba(100, 100, 100, 0.2);}
.left-menu li:hover{-webkit-box-shadow: 10px 0px 10px 1px rgba(100, 100, 100, 0);
box-shadow: 10px 0px 10px 1px rgba(100, 100, 100, 0);}
.left-menu a{ }

.top-head {
    border:1px solid #000000;
    border-radius:10px;
    padding:20px;
}
















/*--------------------------- content section start here --------------------------*/
#content_all{
	float: left;
	height: auto;
	width: 100%;
	z-index: -1;
	margin:0px;
}
#content_left {
    margin: 0px;
    float: left;
    height:auto;
    width: 245px;
   /*overflow-y:auto;*/
    /*margin-top: 156px;margin-top: 106px;*/margin-top: 94px;
    position: fixed;
    
    /*background-color: #ebf4fa;
    -webkit-box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);
    box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);*/
    
}
#content_left table {margin-top:10px !important;}

#leftpanel {width:99%; float:left; margin:0px; overflow-x:hidden; padding-left:1px;}
#leftpanel_qiuckmenu {width:99%; float:left; margin-top:10px;overflow-x:hidden; padding-left:1px;}
#content_right{
	/*margin-top:166px;*/margin-top: 100px;
    /*margin-left:252px;*/margin-left:252px;
	float: left;
	height: auto;
	width: 748px;
    
	/*background-image: url(../../Images/Common/MasterPage/work-area-shadow.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	
}

section {
    margin-top: 2px;
}
p{ float:left; width:100%;}
.head1{ font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#e30040; margin-top:0px;text-transform:uppercase;}
.text{ color:#414193; font-family:Arial, Helvetica, sans-serif; font-size:13px !important; text-align:left; margin-top:0px; }
label { font-weight:normal !important; font-size:13px;}
.contentscroll {height:100px; overflow:hidden;}
/*-------------- datatable start here-------------*/
#datatable_all{
	margin: 0px;
	float: left;
	height: auto;
	width: 768px;
}
#datatable_head{
	margin: 0px;
	float: left;
	height: 31px;
	width: 100%;
}
#datatable_matter{}
#datatable_footer{}
.type{}
.date{}
.status{}
.STP{}
.myref{}
.attention{}
.marginright5{ float:left; margin-right:5px;}
/*-------------- datatable end here --------------*/



/*--------------------------- content section end here ----------------------------*/


/*--------------------------- footer section start here ---------------------------*/
#footer_all{
	margin: 0px;
	float: left;
	height: auto;
	width: 100%;
    background: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
    /*---- for fixing footer at the bottom ----*/
    position:fixed;
    margin-bottom:0px;
}
.footerlogo{ height:31px; width:178px; float:right; margin-right:19px; background:url(../../Images/Common/MasterPage/footer-logo.gif) no-repeat;}
#footer_all ul{ float:left; margin:0px; padding:0px; margin-top:8px; margin-left:0px; margin-top:17px;}
#footer_all a{color:#999999;text-decoration: none;}
#footer_all li{ float:left; padding-right:5px; padding-left:5px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; list-style:none; color:#999999;}
.fbar{border-right: 1px solid #999999;}
#footer_all li:last-child a {margin-top:0px;}
#logo_transport {width:252px; height:47px; float:left; background:url(../../Images/Common/MasterPage/footer_logo1.jpg) no-repeat;}
#logo_highways { width:138px; height:46px; float:right; background:url(../../Images/Common/MasterPage/highways-logo1.png) no-repeat; }
/*--------------------------- footer section end here -----------------------------*/







/*-------------------------- accordion section start here ---------------------------*/

#acdnmenu {height: auto;width: 252px;}
#acdnmenu ul.top{padding-left:0;}
#acdnmenu div.heading, #acdnmenu a.link{padding:10px; padding-left:24px;text-align:left;font:normal 13px Arial, Helvetica, sans-serif;color:white; text-decoration:none;outline:none; transition: color 1s; -webkit-transition: color 1s; -moz-transition: color 1s;}
#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link{color:#999999;font-weight:normal;text-decoration:none;}
/*#acdnmenu div.quicklink, #acdnmenu a.link{ background:url(../../Images/Common/MasterPage/bg1.jpg);}*/
.linkbg1 {
background:url(../../Images/Common/MasterPage/bg1.jpg) no-repeat;background-color:black;}

.linkbg {
background:url(../../Images/Common/MasterPage/bg.jpg) no-repeat;background-color:black;
pointer-events:none;
}
/*Top level link without children*/
#acdnmenu a.current, #acdnmenu a.current:hover{color:#F00;text-decoration:none;}

/* arrow image for the top headings */
#acdnmenu div.arrowImage {width:7px;height:7px;top:15px;left:7px; /* Changing it to "right:8px;" will position the arrow image to the right */ background-image:url(../../Images/Common/MasterPage/arrows.gif);background-position:0 0;}
#acdnmenu div.current div.arrowImage {background-position:0 -12px;}
#acdnmenu li.separator{border-top:none;border-bottom:none;}


/* ##### Sub level items #####*/
#acdnmenu ul.sub{padding-left:20px; /*This determines the hierarchical offset*/ }

#acdnmenu ul.sub div.heading{text-align:left;font:normal 12px Arial;padding:5px; padding-left:20px;color:#FFFFFF;background:none;}
#acdnmenu ul.sub div.heading a{color:#0000FF;}
#acdnmenu ul.sub div.current{color:#000;background:none;}

#acdnmenu ul.sub a.link{font:normal 11px Arial;color:#61ACC2;padding:5px; padding-left:20px;text-decoration:none;background:none;transition: color 0.6s; -webkit-transition: color 0.6s; -moz-transition: color 0.6s;}

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{color:#C6E9F4;text-decoration:none;background:none;}
#acdnmenu ul.sub div.arrowImage {width:12px;height:12px;top:6px;left:6px;background-image:url(../../Images/Common/MasterPage/arrows.gif);background-position:0 -24px;}
#acdnmenu ul.sub div.current div.arrowImage {background-position:0 -36px;}

/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:12px; line-height:16px;}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

/*Hack for IE6-7*/
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}
.acdnmenu{width: 240px; height: auto; background-color: rgb(2, 2, 2);  border: none;}
.acdnmenu ul{padding-left: 0px; visibility: visible;}
.separator1{ height:10px; width:100%; float:left; background:#FFFFFF; visibility:visible;}
/*.quicklink{ background:url(../../Images/Common/MasterPage/bg1.jpg) !important;}*/

.enble {
    background:url(../../Images/Common/MasterPage/bg2.jpg);
}


.subdisable {
    color:gray;
}


#bottumnav_navigation_lower ul {
  text-align: left; z-index:99;
  display: inline;
  margin: 0;

  width:100%;
  /*padding: 15px 4px 17px 0;*/
  list-style: none;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}
#bottumnav_navigation_lower ul li {
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
  /*margin-right: 8px;*/
  position: relative;
  /*padding: 18px 2.51px;*/padding: 18px 0.5%;
  padding-left:7px;
  padding-right:7px;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  /*color:#18186e;*/
}
#bottumnav_navigation_lower ul li:hover {
  /*background: #428181;*/
  background: #0f579a;
  color: #fff;
}
#bottumnav_navigation_lower ul li ul {
  padding: 0;  z-index:999;
  position: absolute;
  top: 48px;
  left: 0;
  width: 132px;
  float:left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  background: #474c5f;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  -webkit-box-shadow: -3px 5px 15px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -3px 5px 15px rgba(50, 50, 50, 0.75);
   box-shadow:         -3px 5px 15px rgba(50, 50, 50, 0.75);
}
#bottumnav_navigation_lower ul li ul li { 
  background: #474c5f; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  width:140px;
  padding-left:10px;
   padding-top:8px;
  padding-bottom:8px;
  border-bottom:1px solid rgba(100, 100, 100, 0.6);

}
#bottumnav_navigation_lower ul li ul li:hover { /*background: #428181;*/ background: #0f579a;}
#bottumnav_navigation_lower ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#bottumnav_navigation_lower{background-image: url(../../Images/Common/MasterPage/bottumnav_navigation_lower_bg.jpg);background-repeat: repeat-x;float: left;height: 50px; width:100%; position:absolute; top:43px;}












/* New Style for _Layout1.cshtml (Kunal)*/



#content_left1 {
    margin: 0px;
    float: left;
    min-height: 500px;
    width: 251px;
    overflow:auto;
    margin-top: 155px;
   /*position: fixed;*/
    /*border-right: 1px solid;
    border-bottom: 1px solid;*/
    background-color: #ebf4fa;
    -webkit-box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);
    box-shadow: 4px 4px 13px rgba(50, 50, 50, 0.51);
    /*-moz-border-radius-bottomright: 23px;
    -webkit-border-bottom-right-radius: 23px;
    border-bottom-right-radius: 23px;*/
}

#content_right1{
	margin-top:106px;
    /*margin-left:145px;*/
   min-height:400px;
	float: left;
	width: 748px;
    
	
}

     #left
    {
         margin: 0px;
    float: left;
    min-height: 400px;
    width: 251px;
    overflow:scroll;
    margin-top: 108px;
    }

.left-sub {
    padding-left:10px;
}

  #div_left_pane {
        float:left;
        width:25%;
        height:500px;
        /*background-color:grey*/
    }
    #map {
        float:left;
       width: 100%;
        bottom:40px;
        left:0px;
          border: 1px solid black;
          position: absolute;
            top: -5px;
            z-index: 0;
        /*background-color:blue;*/
    }

    .olControlPanel button {
          position: relative;
		  <!-- display: block; -->
          margin: 2px;
          border: 1px solid;
          padding: 0 5px;
          border-radius: 4px;
          height: 35px;
          <!-- background-color: white; -->
          float: left;
          overflow: visible; /* needed to remove padding from buttons in IE */
        }
		.olControlPanel.olControlNoSelect{
		  position: relative;
		  right: 2px;
		  top: 2px;
		  z-index: 1006;
		}
        .olControlPanel button span {
          padding-left: 25px;
		  position: relative;
        }
        .olControlPanel button span:first-child {
          padding-left: 0;
          display: block;
          position: relative;
          left: 2px;
        }
        .olControlPanel .olControlDrawFeatureItemActive span:first-child {
          background-image: url("../../Images/off-road.png");
          height: 22px;
          width: 24px;
          top: 5px;
		  right: 10px;
        }
        .olControlPanel .olControlDrawFeatureItemInactive span:first-child { 
          background-image: url("../../Images/off-road.png");
          height: 22px;
          width: 24px;
          top: 5px;
		  right: 10px;
        }
		.olControlPanel .olControlZoomBoxItemInactive span:first-child { 
          background-image: url("../Images/Common/scissor.svg");
          height: 22px;
          width: 24px;
		  top: 5px;
		  right: 10px;
        }
        .olControlPanel .olControlZoomBoxItemActive span:first-child { 
          background-image: url("../Images/Common/scissor.svg");
          height: 22px;
          width: 24px;
		  top: 5px;
		  right: 10px;
        }

     .resize {
    background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
}
       .maximise-left
    {
        display: none;
        cursor: pointer;
    }

       .arrow {
    width:30px;
    height:20px;
    margin-bottom:2px;
}
       #left-panel-wrap {
    width:100%;
    height:100%;
    /*overflow-y:auto;*/
}

       
    .left-main {
    border:1px solid #B5B5B5; /*#017A4F;*/
    background-color:#474747;
/*#017A4F;*/
    color:white;
    padding-left:5%;
    height:19px;
    padding-top:2%;
}
.left-search {
    padding-left:15%;
    margin-bottom:4px;
}


.modal {
    /*background-color: white;*/
    display: none;
    opacity: 90%;
    filter: alpha(opacity=90);
    /*background-color: rgba(0,0,0,0.90);*/
    background-color: transparent;
    width: 16%;
    min-height: 20%;
    overflow: hidden;
    position: absolute;
    /*position:relative;*/
    top: 26%;
    left: 11%;
    z-index: 902;
}

#wait-icon2 {
    position:absolute;
    left:45%;
    top:50%;
    background-color:white;
     z-index:1000;
}
#wait-image {
    width:40px;
    height:40px;
}

/*
=================================================
    style for the first td (18-12-13)
=================================================*/
.tdwidth { width:127px !important;
}
.login-select {width:311px; height:33px;
}



.btnautowidth { width:auto !important; color:#212181;}
.btnmainsize {height:32px !important; width:92px; color:#212181;}

.btngrad{
				background-image: -webkit-linear-gradient(rgb(243, 243, 243) 0px, rgb(204, 212, 223) 100%);
 				background-image:    -moz-linear-gradient(rgb(243, 243, 243) 0px, rgb(204, 212, 223) 100%);
	 			background-image:      -o-linear-gradient(rgb(243, 243, 243) 0px, rgb(204, 212, 223) 100%);
	 			background-image:     -ms-linear-gradient(rgb(243, 243, 243) 0px, rgb(204, 212, 223) 100%);
				background-image:         linear-gradient(rgb(243, 243, 243) 0px, rgb(204, 212, 223) 100%);
				}

.btnrds{
				-webkit-border-radius:3px;
				-moz-border-radius:3px;
				-ms-border-radius:3px;
				-o-border-radius:3px;
				border-radius:3px;
			}
.btnbdr{ border: 1px solid rgb(170, 170, 191); color:#212181;}
.btn_height_28 {height:28px !important;}

/*========================================================================
    Additional styles goes here
========================================================================*/
.fulldiv {width:100%; float:left; margin-top:10px;}
.btnpok { height:30px; width:85px; float:right;}
.btnpcan {height:30px; width:85px; float:right;}
.btnpcha {height:30px; width:110px;}
.label {float: left;margin-right: 10px;margin-top: 7px;}
.searchbox {float: left;margin-right: 10px;}
form {width:100%;float:left;
}
#TearmConditions {width:880px; float:left; margin:10px; height:500px; overflow-x:scroll;}
#CookiesDetail{width:880px; float:left; margin:10px; height:500px; overflow-x:scroll;}
.dyntitle {float:left; height:auto; width:auto;}
.dyntitleConfig {float:left; height:auto; width:auto; margin-top:3px;}
.tbl_nobg {background:none !important;}
.btnmar {margin-left:25px !important;}
.verticalLine { border-left: thick solid #0f579a;}
#leftpanel_quickmenu {width:99%; float:left; margin:0px; overflow-x:hidden; }
#leftpanel_quickmenu tr { background:none !important; border:none;}
.keyword { color:#414193; float:left; margin-top: 7px;}
.paggedlist_select {width: 46px !important; padding: 0px !important;}
.spanleft {float:left;}
h3 {color:#e30040;}

/*=======================================================
    bordered table goes here
=======================================================*/
.tblbdrtop { border-top: 1px solid #777783;}
.tblbdrleft {border-left: 1px solid #777783;}
.tblbdrright {border-right: 1px solid #777783;}
.tblbdrbottum {border-bottom: 1px solid #777783;}
.filter {margin: 0px !important;}h3 {color:#e30040;}
.vertbottom{vertical-align:bottom;}
.groupbox_title {margin-bottom: -6px !important;margin-left: -6px !important; font-weight:bold !important; float:left;}
.routetype_title {margin-bottom: -5px !important;margin-left: -6px !important; font-weight:bold !important; float:left;}
.contactwrapper {width :auto;
    border:none;
    display:inline-block;
    position:relative;
}


.btn {width:28px;
      height:28px;
      background:url(/Content/Images/search.png) no-repeat center center;
    background-color:transparent;
    border:0;
    position:absolute;
    right:0;
    top:0px;
    margin-right:0px;
}

/*#region searchpanel*/
.serchlefttxt {width: 148px;float: left;font-size: 13px;margin-bottom: 3px;margin-right: 3px;height: 18px; }
.serchlefttxt1 {width: 140px;float: left;font-size: 13px;margin-bottom: 3px;margin-right: 3px;height: 18px;}
.serchlefttxtone{width: 190px;float: left;font-size: 13px;margin-bottom: 3px;margin-left:4px; margin-right: 3px;height: 18px; }
.serchlefttxt1one {width: 170px;float: left;font-size: 13px;margin-bottom: 3px;margin-left:4px; margin-right: 3px;height: 18px;}
.serchlefttxtone1{width: 190px;float: left;font-size: 13px;margin-top:10px;margin-bottom: 3px;margin-left:4px; margin-right: 3px;height: 18px; }
.label1
{	width:25px;
	
	
}
.lefttxt { width: 225px;  float: left;  font-size: 13px; margin-bottom: 3px;}
.searchtableleft { padding:0;}
.searchtableleft select { height:30px; width:237px; float:left; padding:0px; margin-bottom: 3px; border:1px solid #aaaabe;}
.searchtableleftNEN select { height:30px; width:190px; float:left; padding:0px; margin-bottom: 3px;margin-left: 43px; border:1px solid #aaaabe;}
.searchtableleft select:hover {border:1px solid #aaaabe !important;}
.dropdown_left { height:30px; width:237px; float:left; padding:0px; margin-bottom: 3px; }
.textbox_left { height: 30px;width: 230px;float: left;padding: 0px 0px 0px 5px;margin-top: -6px;margin-bottom: 3px;}
.textbox_left1 {height:30px; width:224px; float:left; padding: 0px 0px 0px 5px; margin-top:-6px;}

.button_left {float:right !important;}

/*#endregion searchpanel*/


/*======================================
    Styles for map canceling waypoint
======================================*/
.deletecontact { height:7px; width:7px; float:right;margin-left:7px; background:url("../../Images/Common/MasterPage/closebtn.png") no-repeat;  background-position:0px 0px; margin-top: 4px;cursor:pointer; }
.deletepath { height:7px; width:7px; float:left;margin-right:15px; background:url("../../Images/Common/MasterPage/closebtn.png") no-repeat;  background-position:0px 0px; margin-top: 4px;cursor:pointer; }
.canwaypoint { height:7px; width:7px; float:left;margin-right:1px; background:url("../../Images/Common/MasterPage/closebtn.png") no-repeat;  background-position:0px 0px; margin-top: 12px;cursor:pointer; }
.canwaypoint:hover{ background-position:-8px 0px;}
.cancelorg { height:7px; width:7px; float:left;margin-right:10px; background:url("../../Images/Common/MasterPage/closebtn.png") no-repeat;  background-position:0px 0px; margin-top: 12px; margin-left: -24px;cursor:pointer;display:none; }
.cancelorg:hover{ background-position:-8px 0px;}
.blank
{
	height: 7px;
	width: 7px;
	float: left;
	margin-right: 1px;
	margin-top: 12px;
}
.swapicon1{ height:7px; width:7px; float:left;margin-right:1px; background:url("../../Images/Common/MasterPage/swapicon.png") no-repeat;  background-position:0px 0px; margin-left: -8px;margin-top: 30px;cursor:pointer;}
.swapicon1:hover{ background-position:-8px 0px;}
.waypointicon {    float: left;    height: 16px;    width: 20px;    margin-top: 5px;    background: url("../../Images/waypointicon.png") no-repeat;    color: #fff;    text-align: center;    padding-top: 4px;    font-size: 9px;}
.waypointicon_green {float:left;height:16px; width:20px;margin-top: 5px; background:url("../../Images/anchorpointicon.png") no-repeat; color:#fff; text-align:center;padding-top: 4px; font-size:9px; }
/*#region Admin*/

/*#region Register*/
.btn_adminback {width: 72px;height: 30px; float:right; margin-top:10px; color:#212181;}
input[type="checkbox"] {height:17px; width:17px; float:left;}
/*#endregion Register*/


/*#region Changepassword*/
.mrginright35 { margin-right: 35px;}
.changepasstdwidth {width: 168px !important;}
/*#endregion Changepassword*/


/*#region Userlist*/

/*#endregion Userlist*/

/*#region Organisation*/
.btnheight27 {height:27px !important; margin-left:3px !important;}
.margintop7 {margin-top:7px !important;}
/*#endregion Organisation*/






/*#endregion Admin*/


/*#region User*/


/*#region Setpreferences*/

/*#endregion Setpreferences*/


/*#region Setpreferences*/

/*#endregion Setpreferences*/

/*#endregion User*/


/*#region Dispensation*/


/*#region searchpanel*/
.left_search_btn {height: 32px;width: 75px;margin-top: -6px; float:right;}
/*#endregion searchpanel*/

/*#region CreateDispensation*/
.right_text_content {text-align:right !important;}
.vertical_align_top {vertical-align: top;}
.disp_textrea {height:40px; max-height:40px !important; min-height:40px !important; /*width:300px;*/ min-width:300px !important; max-width:510px !important;}

.searchtableleft {padding:0px !important;}
/*#endregion CreateDispensation*/


/*#endregion Dispensation*/

/*#region Notification*/
.notificationtable {width:576px !important;float:left;} .notificationtable111 {width:530px !important;float:left;}.notificationtableWithBtn {width:680px !important;float:left;}
.notificationtable2 {width:519px !important; float:left;}
.notificationtable3 {width:563px !important; float:left;}

.notificationtable1 {width:100% !important;float:left; text-align:justify;}
.notificationtabletd {width:305px !important;} .notificationtabletd1 {width:236px !important;}
.marginright50 {margin-right:50px;}
.marginright0 {margin-right:0px !important;}
.marginleft10 {margin-left:10px !important;}
.text_my { height:18px !important; width:216px; float:left; font-size:13px;    }
.text_my1 { height:26px !important; width:216px !important; float:left; font-size:13px; padding:0px;    }
.textarea_my { height:50px !important; width:216px; float:left; font-size:13px; resize:none;  }
.axeltext {width: 40px; height: 10px;}
.notifaxle { height:16px !important; width:50px; float:left; font-size:13px;    }
#Notification_information {display:none;}
.input_text { height:16px !important; width:225px; float:left; font-size:13px;   padding-right: 18px;  }
/*#endregion Notification*/



/*#region Structure*/

/*#region Structurelist*/
.colwidth100 {width:100px !important;}
.width130 {width:130px !important;}
.width138 {width:138px !important;}
.structurefiltertable {width:395px !important;float:left;}
.structurefiltertabletd {width:145px !important;}
.dropdown_structure { height:30px; width:228px; float:left; padding:0px; margin-bottom: 3px;border: 1px solid #e2e2e2; }
.margintop0px {margin-top: 0px !important;}
.margin0px {margin: 0px !important;}
.margintopmin5px {margin-top: -5px !important;}

/*#endregion Structurelist*/

/*#region Structure_review*/
b span {float:left; width:100%; height:auto;}
#div_review_general {float:left; width:100%; height:auto;}
.verttop {vertical-align:top !important;}
.martop-10 {margin-top:-10px !important;}
.martop10 {margin-top:10px !important;}
.structurereviewmaxtd {    width: 240px;}
.marginright77 {margin-right:77px !important;}
/*#endregion Structure_review*/

/*#region Structure_configbandings*/
.configbandingsspan {width:100%; float:left; margin-bottom:10px;}
.configbandingsspanoutertable {width:600px; float:left; margin-bottom:10px; padding:10px;}
.configbandingsspanautowidth {width:auto; float:left;margin-right:25px; margin-top: 5px;}
.configbandingstable {width:575px !important;}
.configbandingstdwidth {width:220px;}
.configbandingstxtwidth { width:60px; height:12px;}
.configbandingsdiv {float:left; height:auto; width:575px; margin-right:25%;}
.margintop0 {margin-top:0px !important;}
.margintop4 {margin-top:3.5px !important;}
.marginbottom0 {margin-bottom:0px !important;}
.margin0px {margin:0px !important; font-weight:100;}
/*#endregion Structure_configbandings*/

/*#region Structure_general*/
.Structure_general_dropdown {width: 228px;height: 28px;}


/*#endregion Structure*/




/*#region SOAapplication*/
.SOAapplicationtable {width: 675px !important; margin-right: 50%;}
.SOAapplicationtable1 {width: 675px !important; }
.SOAapplicationtabletd {width: 120px;}
.SOAapplicationtablebtnmarleft {margin-left: 378px;}

#div_User{width:100%; float:left; height:auto;}
#div_User1 {width:100%; float:left; height:500px; overflow:scroll;}
.margintop-10 {margin-top:-10px;}
.marginright50 {margin-right:50px;}
.width100 {width:100px !important;}
.widthauto {width: auto !important;}

td .spanimg {float:left; height:32px; width:32px; margin-left: 6px; background:url("../../Images/Common/MasterPage/strucures_icon1.png") no-repeat;}
.overbridge {background-position: -64px 0px !important; }
.underbridge {background-position: -32px 0px !important;}
.levelcross {background-position:  0px 0px !important;}


.RoutePart1tdwidth {width: 101px;}
.paddingnone {padding:0px !important; margin-top:0px !important; margin-bottom:0px !important;}

.margintop3 {margin-top: 3px !important;}
.orange {width: auto; padding: 0px 5px 0px 5px; background-color:orange;}


.textarea_SOAapplication {float: left;
    height: auto !important;
    overflow-x: scroll;
    resize: vertical !important;
    text-align: justify;
    width: 100% !important; }

.marginleft9 {margin-left:9px !important;}

/*#endregion SOAapplication*/


/*#region Route*/
.txtwidth97per {width:97.2% !important;}
/*#endregion Route*/

/*#region placeholder*/
input::-webkit-input-placeholder {color: #aeaeae;}
input::-moz-placeholder {color: #aeaeae;}
input:-moz-placeholder { /* Older versions of Firefox */color: #aeaeae;	}
input:-ms-input-placeholder { color: #aeaeae;}
/*#endregion placeholder*/


/*#region Movements*/


/*#region filter*/

#so_movement_filter div {width:100%; float:left;}
#so_movement_filter div input[type="checkbox"] {margin-top:3px; margin-right:3px !important;}
#so_movement_filter div .text {margin-left:3px; width:170px; margin-top:5px; font-size:11px; float: left;}
#div_select_other_filter div {margin-top:3px !important; margin-bottom:10px;}
.movement_status {height:38px; width:38px;float:left; background:url("../../Images/Common/MasterPage/approved.png") no-repeat;}
.movement_attemtion {margin-left:5px;margin-top: 8px;}

.icon_filter {height:23px; width:25px;float:left; background:url("../../Images/Common/MasterPage/application_icons.png") no-repeat;}
.icon_filter_wip {background-position:0px 0px;}
.icon_filter_wipnotification {background-position:0px -23px;}
.icon_filter_submitted {background-position:0 -46px;}
.icon_filter_reciveha {background-position:0 -69px;}
.icon_filter_withdrownapplication {background-position:0 -92px;}
.icon_filter_declainedapplication {background-position:0 -115px;}
.icon_filter_agreed {background-position:0 -184px;}
.icon_filter_proposedroute {background-position:0 -161px;}
.icon_filter_nofication {background-position:0 -138px;}
.icon_filter_approvedvr1 {background-position:0 -207px;}
.icon_filter_attension {background-position:0 -230px;}
.icon_filter_accepted {background-position:0 -254px;}
.icon_filter_rejected {background-position:0 -278px;}
.icon_filter_unspecified {background-position:0 -301px;}
.icon_filter_unopenme {background-position:0 -324px;}
.icon_filter_unopenorg {background-position:0 -347px;}
.icon_filter_openme {background-position:0 -370px;}
.icon_filter_withdrawn {background-position:0 -393px;}
.icon_filter_declained {background-position:0 -416px;}
.icon_filter_includehistoric {background-position:0 -440px;}
.icon_filter_faileddel {background-position:0 -465px;}
.icon_filter_unallocated {background-position:0px -489px;}
.icon_filter_inprogress {background-position:0px -514px;}
.icon_filter_reproposed {background-position:0px -538px;}
.icon_filter_agreedreviced {background-position:0px -565px;}
.icon_filter_agreedrecleared {background-position:0px -590px;}
.icon_filter_planned {background-position: 0px -615px;}
.icon_filter_reviced {background-position: 0px -640px;}
.icon_filter_agreementwip {background-position: 0px -665px;}
.icon_filter_openbyorg {background-position: 0px -690px;}


.icon_status {height:33px; width:35px;float:left; margin:5px 0px 5px 0px; background:url("../../Images/Common/MasterPage/movement_status_icons.png") no-repeat;}
.icon_status_wip {background-position:0px 1px;}
.icon_status_wipnotification {background-position:0px -32px;}
.icon_status_submitted {background-position:0px -65px;}
.icon_status_receivedbyha {background-position:0px -98px;}
.icon_status_withdrawnapplication {background-position:0px -131px;}
.icon_status_declainedapplication {background-position:0px -164px;}
.icon_status_agreed {background-position:0px -197px;}
.icon_status_proposedroute {background-position:0px -230px;}
.icon_status_nofication {background-position:0px -263px;}
.icon_status_approvedvr1 {background-position:0px -296px;}
.icon_status_attension {background-position:0px -329px;}
.icon_status_inprogress {background-position: 0px -701px;}
.icon_status_unallocated {background-position: 0px -736px;}
.icon_status_reproposed {background-position: 0px -771px;}
.icon_status_agreedrevised {background-position: 0px -806px;}
.icon_status_agreedrecleared {background-position: 0px -842px;}
.icon_status_planned {background-position: 0px -878px;}
.icon_status_reviced {background-position: 0px -914px;}
.icon_status_agreementwip {background-position: 0px -950px;}
.icon_status_openbyorg {background-position: 0px -985px;}

.icon_status_soaaccepted {background-position:0px -364px;}
.icon_status_soarejected {background-position:0px -398px;}
.icon_status_soaunspecified {background-position:0px -430px;}
.icon_status_soaunopenedbyme {background-position:0px -463px;}
.icon_status_soaunopenedbyorg {background-position:0px -496px;}
.icon_status_soaopenedbyme {background-position:0px -530px;}
.icon_status_soawithdrawn {background-position:0px -565px;}
.icon_status_soadeclined {background-position:0px -598px;}
.icon_status_soahistoric {background-position:0px -632px;}
.icon_status_soafaileddel {background-position:0px -665px;}






.table_no_margin {margin-top: 0px !important;margin-bottom: 0px !important;}
.intelli_accordian {cursor:pointer; min-height:30px;}
.intelli_accordian span {height:10px; width:10px; float:right; color:#fff;position: relative;top: 20px;right: 11px; }
.intelli_accordian_show {
    /* Safari */
    -webkit-transform: rotate(-30deg);
    /* Firefox */
    -moz-transform: rotate(-30deg);
    /* IE */
    -ms-transform: rotate(-30deg);
    /* Opera */
    -o-transform: rotate(-30deg);
}

.intelli_accordian_hide{
    /* Safari */
    -webkit-transform: rotate(30deg);
    /* Firefox */
    -moz-transform: rotate(30deg);
    /* IE */
    -ms-transform: rotate(30deg);
    /* Opera */
    -o-transform: rotate(30deg);
}
/*#endregion filter*/

/*#region advsearch*/
.dropdown_advsearch {height:28px !important; width:245px; float:left; margin-right:10px;}
.dropdown_advsearch_redwid {width:161px !important;}
.span_advsearch {float: left;margin-right: 5px;margin-top: 6px;}
.tbl_advsearch {width: 520px !important; float:left;}
.tbl_advsearch_1td {width: 150px;}
.tbl_advsearch_2td {width: 305px;}
.div_btn_presetfilter { height:43px; float:left; width:100%; background:url("../../Images/Common/MasterPage/preset_advance_bg.jpg") repeat-x; background-position:0px 0px;}
.div_btn_advanced {height:42px; float:left; width:100%; background:url("../../Images/Common/MasterPage/preset_advance_bg.jpg") repeat-x; background-position:0px -43px;}
.center_align_presetfilter {width:330px; margin:auto; margin-top: 8px; }
.center_align_advsearch {width:168px; margin:auto; margin-top: 8px; }
.span_presetfilter {float: left;margin-top: 5px;margin-right: 5px;color: white;}
.bold {    font-weight: bold !important;} 
/*#endregion advsearch*/

/*#endregion Movements*/


/*#region Vehicleconfig*/
#div_general form {margin-top:-20px !important; float:left;}
/*#endregion Vehicleconfig*/

/*#region structure_delegation*/
.delegation_td {width: 280px;}
#div_component_details {
float:left;
width:500px;
}
/*#endregion structure_delegation*/



#div_layout_body { margin-top:40px !important; width:99%; margin-left:0.5%;}
#div_layout_body h3 {display:none;}
.dotbox { width:99.8%; float:left; font-weight:bold; margin-top: 2px; border: 1px #CBC8C8 solid;}
.dotbox span {width:100%; padding:2px; float:left;  font-size:10px !important;}

.move_td_one {width:100px; max-width:105px !important;}
.move_td_two {width:100px; max-width:105px !important;}
.move_td_date {width:165px; max-width:175px !important;}
.move_td_three {width:auto; max-width:105px !important;}
.move_td_four {width:auto; max-width:105px !important;}
.move_span_to { margin-left: 5px;margin-right: 3px;}
.error{  width: 100%;float: left;color: #e80c4d;height: auto;  font-size:11px;}
.left_searchdate {width:175px !important;}
.move_td_four {width:auto; max-width:105px !important;}    #div_layout_body h3 {display:none;}
#div_layout_body { margin-top:40px !important; margin-bottom:45px !important;} 

.table_100percentage {width:100% !important; float:left; padding:0px; margin:0px!important;}
.table_99percentage {width:99% !important; float:left; padding:0px; margin:0px!important; margin-left:0.5% !important; border:1px solid #aeaeae; margin-bottom:10px !important;}
.white {color:#fff !important;}
.suitability {float: left;height: 30px; margin-left:16px; width: 30px; background: url("../../Images/Common/MasterPage/sutability.png") no-repeat;}
.true {background-position:0px -30px; }
.false {background-position:0px -60px; }
.question {background-position:0px 0px; }
.exclamation {background-position:0px -90px; }
.read_unread {float: left;height: 30px; width: 30px; background: url("../../Images/Common/MasterPage/read_unread.png") no-repeat;}
.read {background-position:0px -30px; }
.unread {background-position:0px -60px; }
.left_panel_date_txt { width:169px !important; float:left; height:25px !important; text-align:right;}
.spantd {float:left; width:84% !important; font-size:13px !important; font-weight:bold; margin-left:5px;}
.spantd1 {float:left; width:auto !important; font-size:13px !important; font-weight:bold;}

.Exclude {height: 30px; width: 30px; cursor:pointer; background: url("../../Images/Common/MasterPage/sutability.png") no-repeat;}
.true {background-position:0px -30px; }
.false {background-position:0px -60px; }

.viewdetails {
    float: left;  width: 100%;
    text-align: left;
}
/*loading -------*/
.loading{
	height:auto;
	width:100%;
	float:left;
    display:none;
}

#loading_wrapper{width:275px;min-height:50px; margin:auto; margin-top:21%;}
#icon_gif{width: 24px;height: auto;margin: auto;margin-top: 2px;margin-bottom: 5px;}
#loading{width: 100%;float: left;height: auto;padding: 2px;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;border: 2px solid rgba(30, 78, 122, 1);background: #FFFFFF;}
#icon_wrapper{margin:auto;height:24px;}
#loading_text{float: left;width: 100%;text-align: center;margin-bottom: 5px;}


.div_saving
    {
        border-width: 1px;
        border-style: solid;
        background-color: #FFFFFF;
        position: absolute;
        width: 180px;
        height: 65px;
        display:none;
    }



.margintop6 {margin-top:6px !important;}
.marginbottom7 {margin-bottom:7px !important;}
.bdrbottom {border-bottom:1px solid #cccce2; }
.ToggleTab_arrow_down {
    color: white;
    font-size: 14px;
    margin-left: 15px;
    position: absolute;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
}
.ToggleTab_arrow_up {
    color: white;
    font-size: 14px;
    margin-left: 15px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

.float_left {float:left !important;}
.float_none{float:none !important;}
td .float_none{float:none !important;}
#div_select_app_filter div {margin-left:2px !important;}
#div_select_other_filter div {margin-left:2px !important;}
.tab_content table {margin-top:0px !important;}


input[disabled] {border:1px solid #aeaeae;color: #aeaeae;background: #EDEEEC;}
textarea[disabled] {border:1px solid #aeaeae;color: #aeaeae;background: #EDEEEC;}
.dropdown_med {height:30px; width:228px;}
.cookies { float:left; margin-top:1px;}
.left_btn {height:30px; width:180px;}
.radio_width {width:50px !important; float:left;}
.boxshow {float:left; width:100%; margin-top:10px;}
.boxshow input {margin-bottom:5px;}
/*
    ==========================================================
    Collaboration icon start here
    ==========================================================
*/
.collaboration {height:25px; width:25px; float:left; background:url("../../Images/Common/MasterPage/Collaboration_status.png") no-repeat;}
.collaboration_status1 {background-position:0px 0px;margin-left:6px;margin-top: 8px;}
.collaboration_status2 {background-position:0px -25px;margin-left:6px;margin-top: 8px;}
.collaboration_status3 {background-position:0px -50px; margin-left:6px; margin-top: 8px;}

/*
    ==========================================================
    Notification icon start here
    ==========================================================
*/
.notification {height:25px; width:25px; float:left; background:url("../../Images/Common/MasterPage/Notification_status.png") no-repeat;}
.notification_status1 {background-position:0px 0px;}
.notification_status2 {background-position:0px -25px;}
.pagination_span {float: left; margin-top: 6px;}
.nofication_status1 {background-position:0 -138px; margin-left:6px;margin-top: 8px;}

/*
==============================================================
    VR1GeneralDetails    
==============================================================
*/

#VR1GeneralDetails table {width:476px !important;}
.VR1GeneralDetailsdiv {width:600px; float:left;}

/*
==============================================================
    Waypoint section    
==============================================================
*/
.ui-sortable{padding:0px;}
#sortable > .ui-state-default {list-style:none; float:left;width:230px; margin-left:5px;}


/*
==============================================================
  Application routepart shifting  
==============================================================
*/
.moveupdownsave {float:left; width:150px; height:30px;}
#information {font-size:12px; font-weight:bold; float:left; margin-top:6px; color:#2F7A1D}
.ui-sortable-helper {cursor:move;}


/*
==============================================================
 Newsbar styling
==============================================================
*/

#newsbar {float:left;width:100%; /*height:35px;*/height:25px;}
#news_head {float: left;
height: 28px;
width: 150px;
background: black;
color: white;
text-align: center;
font-size: 15px;
padding-top: 7px;background: url(../../Images/Common/MasterPage/news_head.jpg) ;}
#news_body {
    float:right;
    width:900px;
    /*height:28px;*/height:23px;
    /*padding-top:7px;*/ padding-top:2px;
    background:rgb(131, 133, 175);
    width:100%;
}
.newslink {color:#d0d0d0; font-size:12px; margin-right:50px; text-decoration:none; font-weight:bold;}
.newslink:hover {color:#fff;}
#newsbaroutter {
    /*position: absolute;
    top: 92px;*/
    float:left;
    width: 100%;
    background: whitesmoke;
    display:none;
}


/*
    help builder
    */
#saveashtml {position: relative;
z-index: 1;
left: 824px;
top: 33px;
/* float: right; */
height: 32px;
width: 56px;}

.buttonwidth {
width:150px !important;
}
/*
 ===================================================================
    Constraints icon started here
 ===================================================================
*/
.Constraint {height:41px; width:42px; float:left; margin-left:12px; background:url(../../Images/Common/MasterPage/constraints_icons.png);}

.Rbollards {background-position:43px 87px;}
.Bollards {background-position:43px 127px;}
.Ecable {background-position:43px 168px;}
.Catenary {background-position:43px 209px;}
.Cantilever {background-position:43px 249px;}

.Gantry {background-position:84px 87px;}
.Tcable {background-position:84px 127px;}
.Pcable {background-position:84px 168px;}
.ARwall {background-position:84px 209px;}
.OHpipes {background-position:84px 249px;}

.OHbuilding {background-position:126px 87px;}
.TraCalming {background-position:126px 127px;}
.Rwall {background-position:126px 168px;}
.Pipesducts {background-position:126px 209px;}
.Tunnelvoid {background-position:126px 249px;}

.Tunnel {background-position:168px 87px;}
.MMvoid {background-position:168px 127px;}
.Nvoid {background-position:168px 168px;}
.Unmade {background-position:168px 209px;}
.Rgrounding {background-position:168px 249px;}

.Specialevent {background-position:209px 87px;}
.Tightbends {background-position:209px 127px;}
.Tram {background-position:209px 168px;}
.Incline {background-position:209px 209px;}
.Roadworks {background-position:209px 249px;}

.height {background-position:0px 0px;}
.width {background-position:0px -41px;}
.length {background-position:0px -82px;}
.weight {background-position:0px -123px;}
.oneway {background-position:0px -163px;}
.generic {background-position:0px -204px;}


#div_img_wrap {
    width:100%;
    height:auto;
    float:left;
}
.redcolour {color:#E30040;} 

/*============================================
    Map search panel route popup
============================================*/
#route_search_popup {float:left; /*width:202px;*/ height:200px; overflow-y:scroll; z-index:100; background:#ffffff; display:none; position:absolute; /*left:4px;*/-webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.68);-moz-box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);}
#route_search_popup ul {width: 100%;float: left;padding: 0px;margin: 0px;}
#route_search_popup ul li {/*padding: 2px 0px 2px 0px;*/height: 35px;width: 100%;float: left;border-top: 1px solid;list-style: none; border-color:rgba(213, 210, 210, 0.4);}
#route_search_popup ul li :hover {background:rgba(239, 237, 237, 0.67)}
#route_search_popup ul li div {height:35px; float:left;width:100%; overflow:hidden;}
#route_search_popup ul .serch_text {float: left;margin-left: 5px;background: none;height: 20px;margin-top: 4px;color: rgba(50, 50, 50, 0.55);font-size: 11px;}
#route_search_popup ul .serch_text:first-child {font-weight:bold !important; color:#333 !important;    }
.Auto_selected {background:rgba(239, 237, 237, 0.67) !important;}
.search_anim {float:left;margin-left:60px; width:40px; height:40px; background:#FFFFFF url(../../Images/Common/gallery-dark-loading.gif)no-repeat center center;  z-index:10000;  display:none; position:absolute; /*left:4px;*/-webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.68);-moz-box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;}
.save_anim {float:left;margin-left:60px; width:180px; height:40px; background:#FFFFFF url(../../Images/Common/gallery-dark-loading.gif)no-repeat center center;  z-index:10000;  display:none; position:absolute; /*left:4px;*/-webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.68);-moz-box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.68);-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;}
/*============================================
    Create special order
============================================*/
.Createspecial_context_wrapper { background:steelblue;width: 85px;color: #fff;}
.Createspecial_context_wrapper .context-menu-item {height: 20px;width: 100%;text-align: center;padding: 3px 0px 3px 0px;}
.Createspecial_context_wrapper .context-menu-item:hover {cursor:pointer; background:rgb(46, 75, 100);}

/*============================================
    Create Notification popups
============================================*/
.Ui_Notification {text-align: center;
padding: 20px 0px 20px 0px;
display: none;
width: 350px;
font-weight:700;
/* height: 38px; */
background: #f6075f;
color: #ffffff;
position: absolute;
top: 36%;
right: 44%;
z-index: 10000;
border: 1px solid;
-webkit-box-shadow: -6px 8px 14px 0px rgba(50, 50, 50, 0.53);
-moz-box-shadow:    -6px 8px 14px 0px rgba(50, 50, 50, 0.53);
box-shadow:         -6px 8px 14px 0px rgba(50, 50, 50, 0.53);
background: #25adba; /* Old browsers */
background: -moz-linear-gradient(top, #25adba 0%, #1fa8a8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25adba), color-stop(100%,#1fa8a8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #25adba 0%,#1fa8a8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #25adba 0%,#1fa8a8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #25adba 0%,#1fa8a8 100%); /* IE10+ */
background: linear-gradient(to bottom, #25adba 0%,#1fa8a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25adba', endColorstr='#1fa8a8',GradientType=0 ); /* IE6-9 */
}


.Ui_Notification_close {
    position: relative;
    top: 0px;
    float: right;
    margin-top: -13px;
    margin-right: 7px;
    height: 7px;
    width: 7px;
    background:url(../../Images/Common/MasterPage/closebtn.png) no-repeat;
    cursor:pointer;
}
/*=======================================================
    validation bulck messages showing box and style
=======================================================*/
.validation-summary-errors {float:left; border:1px solid #e30040; height:auto; width: 98%;margin-left: 1%;background: rgba(246, 201, 214, 0.37); display:none;}
.validation-summary-errors ul {float:left; width:98% !important; height:auto !important; margin-left:0.5% !important;}
.validation-summary-errors ul li{float:left !important; list-style:none; width:100% !important; text-align:left !important; height:15px !important; cursor:default !important; margin:0px !important;}

/*=======================================================
    Date picker z-index and other functionalities
=======================================================*/
#ui-datepicker-div {z-index:1101 !important;}
.ui-datepicker-calendar th {color:rgba(50, 50, 50, 0.75) !important;}


#quick_links {
    width: 252px !important;
    height: auto;
    background: #F2F2F2;
    float: left;
    position: fixed;
    bottom: 47px;
    left:0px;
}

#quicklink_header1 {width:232px; float:left; height:22px; color:white; display:block;padding-left: 10px;padding-right: 10px;font-weight: bold;padding-top: 4px;}
#quick_links ul {float:left; width:100%; margin:0px; padding:0px;}
#quick_links ul li {float:left; width:100%; margin:0px; padding:0px; list-style:none;}
#quick_links ul li:hover {background:rgba(174, 174, 174, 0.19);}
.quicklinktext {float:left; font-size:12px;margin-top: 4px;margin-left: 3px;}
.quicklink_Max {height:141px;}
.quicklink_Min {height:26px !important;}
.retransmittdwidth {width:135px !important;}
.retransmittdrlwidth {width:108px !important;}
.retransmitdiv fieldset {border:1px solid #aeaeae !important; width:400px; }
    .retransmitdiv fieldset legend { display:block !important; color:rgba(164, 152, 152, 1);}
fieldset table {margin:0px; width:100% !important; float:left;}

.retransmiterrorspan{padding-left: 27px;}
/*======================================
    icons for popup help 
 =====================================*/

#span-help {background:url(../../Images/Common/MasterPage/buttons.gif); background-position: -2px 28px; }
#span-Edit_help {background:url(../../Images/Common/MasterPage/helpbuilder_icon.jpg) no-repeat; background-position: -2px -4px; }
#span-help:hover {-webkit-box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);-moz-box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);}
#span-Edit_help:hover {-webkit-box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);-moz-box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);box-shadow: inset 0px 0px 9px -3px rgba(0,0,0,1);}

/*.route_search_popup_custom div { top: 703px !important;left: 260.46875px !important;}
.route_search_popup_custom1 div { left: 260px !important; top: 749px !important;}*/


/*context menu style*/
.iz_submenu {height:auto; width:150px; position:relative;}

/*StructureGeneralDetails*/
.notrbg tr {background:none !important;
}

#calender {width:280px; float:left;}
#calenderTable {width:500px; float:right;}
.padding-top1 {padding-top:1px;}
.padding-left5 {padding-left:5px;}

.slidingpanelstructures {
width:98.7%;
float:left;
/*position:absolute;*/
height:auto;
background:#FFFFFF;
z-index:100;
}
.slidingpanelnav {
    position: relative;
float: right;
margin-top: 0px;
height: 15px;
width: 97%;
background: #006699;
color: white;
padding: 7px 0px 7px 3%;
cursor:pointer;
font-size:13px;
font-weight:bold;

}

.slidingpanelstructures_content {
float:left; width:100%; height:300px; 
overflow:hidden; background:#fff;
}
.slidingpanelstructuresclose {
   height:0px !important; transition:all 0.8s;
}
.slidingpanelstructuresopen {
    top: 225px !important; transition:all 0.8s;
}

.show { display:block !important;}
.hide {display:none !important;}
#editholidaydateText {overflow:hidden;}
.margin-right10 {margin-right:10px !important;}
#calenderTable input[type="text"] { padding:2px !important;}
#calenderTable select { margin:0px !important; height:28px !important;}

::-moz-selection { /* Code for Firefox */
   color: rgb(231, 231, 231);
background: rgb(255, 4, 99);
}
::selection {
   color: rgb(231, 231, 231);
background: rgb(255, 4, 99);
}

@media screen and (max-width: 1024px) {
   #rightpanel {min-width:753px; overflow:hidden;}
   #headersection {min-width:755px;}
   #contentsection {min-width:755px;}
   #footer_all li{ font-family:Arial, Helvetica, sans-serif; font-size:9px; }
   #logo_highways {width: 144px;background-size: 100%;background-position-y: 5px;}

}
td .inprogressimg {
    float: left;
    height: 20px;
    width: 16px;
    background: url("../../Images/Common/icon-status-yellow.png") no-repeat scroll -2px 0px;
}

td .completedimg {
    float: left;
    height: 16px;
    width: 19px;
    background: url("../../Images/Common/icon-status-green.png") no-repeat scroll -3px -4px;
}
