.meter {
    margin-top: 10px;

width: 98%;
  height: 20px;
  position: relative;
  background: #ededed;
  border-radius: 25px;
  /*padding: 10px;*/
  -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3);
  margin: 1em; }
  .meter ol {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ddd;
    position: relative;
    list-style: none; }
#tab_1 .meter ol li {
   width: 25%;
}
    .meter ol li {
      float: left;
      margin: 0;
      padding: 0;
      text-align: right;
      /*width: 14.28%;*/
      position: relative;
      border-radius: 10px;
      -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25); }
      .meter ol li span {
        right: -0.5em;
        display: block;
        font-weight:bold;
        text-align: center; }
      .meter ol li .step {
        top: -0.4em;
        padding: .2em 0;
        border: 3px solid #ddd;
        z-index: 1;
        font-size: 1.25em;
        color: #ddd;
        width: 1.5em;
        font-weight: 700;
        position: absolute;
        background-color: #fff;
        border-radius: 50%; }
      .meter ol li .stage {
        color: #fff;
        margin-top: 1px; }
    .meter ol li.active {
      height: 20px;
      background: #47b4db;
      -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
      background-image: repeating-linear-gradient(45deg, transparent, transparent 12px, #29a4d0 12px, #29a4d0 24px);
    }

        .meter ol li.active1 {
            height: 20px;
            background: #71CACE;
            -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
            box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.29);
            background-image: repeating-linear-gradient(45deg, transparent, transparent 12px, #5DB7C9 12px, #71B5BE 24px);
        }
	  
	  
      .meter ol li.active span.step {
        color: #000;
        border: 3px solid #47b4db; }
.width_det {width:25% !important;}
.width_simp {width:20% !important;}
