/*html, body {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
	font-family: lato_medium, Arial;
}*/

/* =Typography
-----------------------------------------------------------------------------*/
/*body {
	font-family: lato_medium, Arial;
	font-size: 14px;
}*/

@font-face {
	font-family: lato_light;
	src: url(../../assets/Lato-Light.ttf);
}

@font-face {
	font-family: lato_medium;
	src: url(../../assets/Lato-Medium.ttf);
}

@font-face {
	font-family: lato_bold;
	src: url(../../assets/Lato-Bold.ttf);
}

@font-face {
	font-family: lato_regular;
	src: url(../../assets/Lato-Regular.ttf);
}

@font-face {
	font-family: lato_semibold;
	src: url(../../assets/Lato-Semibold.ttf);
}




/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 880px;
	float:left;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

/* =Misc
-----------------------------------------------------------------------------*/
.list li {
	margin: 10px 0;
}

/*.btn-outline-primary {
	border: 1px solid rgba(39, 87, 149, 1) !important;
	padding: 0.7rem 4rem !important;
	border-radius: 10px !important;
	font-weight: 700 !important;
	font-family: 'lato_bold',Arial !important;
	background-color: transparent !important;
	color: rgba(39, 87, 149, 1) !important;
	cursor: pointer;
}*/

/*.btn-primary {
	background-color: #275795 !important;
	border: 1px solid rgba(39, 87, 149, 1) !important;
	border-radius: 10px !important;
}*/

.outline-btn-primary:hover, .btn-outline-primary:hover {
	background-color: #275795 !important;
	color: white !important;
}

.outline-btn-primary:hover {
	color: rgba(39, 87, 149, 1);
}

.outline-btn-primary:focus {
	color: rgba(39, 87, 149, 1);
	outline: none;
	box-shadow: none;
}

.btn-primary:hover {
	background-color: #275795 !important;
	color: white !important;
}
.btn-layout {
	width: 16rem !important;
	padding: 0.675rem 0.75rem !important;
}
.BtnSty {
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	appearance: auto;
}
#redactor_modal {
 background: #fff !important;
 box-shadow:none !important;
}
.redactor_modal_btn {
	border: 1px solid rgba(39, 87, 149, 1) !important;
	padding: 0.7rem 2rem !important;
	border-radius: 10px !important;
	font-weight: 700 !important;
	font-family: 'lato_bold',Arial !important;
	background: #fff !important;
	color: rgba(39, 87, 149, 1) !important;
	cursor: pointer;
	text-transform:uppercase
}

.redactor_modal_btn:hover{
	background-color: #275795 !important;
	color: white !important;
}
.redactor_toolbar {
	background: linear-gradient(0deg, #e3e7ec, #f4f6fa) !important;
	height: 40px !important;
}

	.redactor_toolbar li a {
		width: 24px !important;
		height: 20px !important;
	}

.text-center {
  text-align:center;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.p-5 {
	padding: 2rem !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.primary-color {
	color: rgba(39, 87, 149, 1);
	font-family: lato_medium, Arial;
}

.mr-r1 {
	margin-right: 1rem;
}

.site-button {
	font-size: 15px;
}

#scoll-right-btn {
 cursor:pointer;
}

#redactor_modal_header {
	font-size: 1.25rem !important;
	font-weight: 500 !important;
	color: rgba(39, 87, 149, 1);
}

#redactor_modal_close {
	color: rgba(39, 87, 149, 1) !important;
	font-size: 23px !important;
	width: 23px !important;
	height: 23px !important;
}

#redactor_modal input[type="text"], #redactor_modal input[type="password"], #redactor_modal input[type="email"], #redactor_modal textarea {
 box-shadow:none !important;
}