@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
}
#wraper_all{
	margin: 0px;
	float: left;
	height: auto;
	width: 100%;
}
#wrapper_center{
	height: auto;
	width: 935px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#wrapper{
	margin: 0px;
	float: left;
	height: auto;
	width: 100%;
}
.left{
	float: left;
	height: 486px;
	width: 475px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 23px;
	background-image: url(../../Images/Common/login1.jpg);
	background-repeat: no-repeat;
	border: 1px solid #88C0C1;
}
.right{
	float: left;
	height: auto;
    height: 486px;
	width: 408px;
	margin-left: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    border:1px dashed #E0E0E0;
}
.footer{
	float: left;
	height: auto;
	width: 100%;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 23px;
}


.right-inner {
    margin-top:30px;
    margin-left:70px;
}

.login-header {
    margin-top:80px;
    margin-left:70px;
    /*font-weight:900;*/
    font-size:large;
    color: #006666;
}

.login-help {
    margin-left:70px;
    margin-top:30px;
    color: #006666;
    word-wrap:break-word;
    font-size:13px;
}

.footerlogo{ height:31px; width:178px; float:right; margin-right:19px; background:url(../images/footer-logo.gif) no-repeat;}
.footer ul{ float:left; margin:0px; padding:0px; margin-top:8px; margin-left:19px;}
.footer a{color:#999999;text-decoration:none;}
.footer li{ float:left; padding-right:5px; padding-left:5px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; list-style:none; color:#999999;}
.fbar{border-right: 1px solid #999999;}

.login_btn {
    margin-top:10px; height:30px; width:100px;  color:#212181;  padding-left:10px !important; padding-right:10px !important;
 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 237, 240, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 237, 240, 0.6);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 237, 240, 0.6);
}
.top20 { margin-top:20px;
}
.smallfont { font-size:11px;
}
.DfT {display:none; float:right; width:146px; height:34px; color:rgba(255, 255, 255, 1); padding-left: 10px;padding-top: 6px;margin-top:440px; cursor:pointer;margin-right:9px; padding-right:10px; background:url("../../Images/Common/MasterPage/newlogo.jpg") no-repeat; background-position:0px -7px;}
