
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error - Unauthorized access</h1>
        <h2>You are not authorized to view this page.</h2>
    </hgroup>
</body>
</html>

