@using System.Web.Optimization
@using STP.Domain
@using STP.Common.Enums
@model List<STP.Domain.Routes.RouteModel.RoutePartDetails>
@{


    <link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/style.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/style.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@


    <div id="div_ListRouteDescription">
        <span id="spn_Result"></span>

        @{



            if (Model == null || Model.Count == 0)
            {

                <div class="cardSOA1 mt-0" style="text-align:center;">
                    <h6 class="text-color3 stHeading1 m-0">No route description</h6>
                </div>


            }
            else
            {
                var count = 1;
                foreach (var routepartDetails in Model)
                {

                    <div class="cardSOA1 mt-0">
                        <h6 class="text-color3 stHeading1 m-0">
                            Leg @count :  @Html.Raw(routepartDetails.RouteName)
                        </h6>
                    </div>
                    <div class="pt-3 pb-3 pl-0">
                        <div class="row pl-0">
                            <div class="col-lg-12 col-sm-12 col-md-12 pl-0">

                                <div id="table-head"><span class="text-normal"> @Html.Raw(routepartDetails.RouteDescr) </span><span class="text-normal"></span></div>



                            </div>
                        </div>
                    </div>

                    count = count + 1;
                }



            }

        }
    </div>
}