@{
    ViewBag.Title = "A2BPlanning";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="map" style="position:relative;"></div>
@*<link href="~/Content/Style/Common/map.css" rel="stylesheet" />*@
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />


@{
    var SesUserInfo = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    var RoutePlanUnit = SesUserInfo.RoutePlanUnits;

}

@Html.Hidden("HdnRoutePlanUnit", RoutePlanUnit)


