<div>
    <<div id="map" style="height: 615px;" class="google-map"></div>
    <form>
        <input type='hidden' name='lat' id='lat'>
        <input type='hidden' name='lng' id='lng'>
    </form>
    <!-- google-map-setting-end -->
    <img id="card-swipe1" src="/Content/assets/images/card-swipe-on.svg" width="30" style="cursor: pointer; position: absolute; margin-left: 0px;">
    <img id="card-swipe2" src="/Content/assets/images/card-swipe-on.svg" width="30"
         style="cursor: pointer; position: absolute; margin-left: 21.7rem; margin-top: 10rem; display: none;">
    <div id="soa-portal-map">
        <div id="margin-space">
        </div>
        <div class="horizontal-center">
            <ul class="nav navbar-nav navbar-left new-list pt-2">
                <li class="nav-item">
                    <a class="nav-link"><img src="~/Content/assets/Icons/map-startpoint.svg" width="20"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"><img src="~/Content/assets/Icons/map-endpoint.svg" width="20"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"><img src="~/Content/assets/images/Group 1444.svg" width="20"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"><img src="~/Content/assets/images/Group 692.svg" width="22"></a>
                </li>
                <li class="nav-item pt-1">
                    <a class="nav-link" href="#">
                        <img src="~/Content/assets/images/Group 279.svg"
                             style="margin-left: 5px;position: absolute;height: 24px;"><img src="~/Content/assets/images/Group 284.svg" style="height: 24px;">
                    </a>
                </li>
                <li class="nav-item pt-1">
                    <a class="nav-link" href="#">
                        <img src="~/Content/assets/images/Group 277.svg"
                             style="margin-left: 5px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                    </a>
                </li>
                <li class="nav-item pt-1">
                    <a class="nav-link" href="#">
                        <img src="~/Content/assets/images/Group 280.svg"
                             style="margin-left: 0px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                    </a>
                </li>
                <li class="nav-item pt-1" style="padding-left: 8px;">
                    <a class="nav-link" href="#">
                        <img src="~/Content/assets/images/Group 282.svg"
                             style="margin-left: -14px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                    </a>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link active" href="#" id="nav-structure" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/Content/assets/images/Group 539.svg" width="30">
                    </a>
                    <ul class="dropdown-menu pl-3" aria-labelledby="nav-structure">
                        <li id="table-head">
                            <span>
                                <input type="checkbox" id="bulldozer" class="checkbox"
                                       name="bulldozer" value="bulldozer" width="20">
                            </span><span>
                                <a class="dropdown-item" href="#">Show all structures</a>
                            </span>
                        </li>
                        <li id="table-head">
                            <span>
                                <input type="checkbox" id="bulldozer" class="checkbox"
                                       name="bulldozer" value="bulldozer" width="20">
                            </span><span>
                                <a class="dropdown-item" href="#">Show affected structures</a>
                            </span>
                        </li>
                        <li id="table-head">
                            <span>
                                <input type="checkbox" id="bulldozer" class="checkbox"
                                       name="bulldozer" value="bulldozer" width="20">
                            </span><span>
                                <a class="dropdown-item" href="#">Show unsuitable structures</a>
                            </span>
                        </li>
                        <ul class="sub-list">
                            <li id="table-head">
                                <span>
                                    <input type="checkbox" id="bulldozer" class="checkbox"
                                           name="bulldozer" value="bulldozer" width="20">
                                </span><span>
                                    <a class="dropdown-item" href="#">Show underbridge</a>
                                </span>
                            </li>

                            <li id="table-head">
                                <span>
                                    <input type="checkbox" id="bulldozer" class="checkbox"
                                           name="bulldozer" value="bulldozer" width="20">
                                </span><span>
                                    <a class="dropdown-item" href="#">Show overbridge</a>
                                </span>
                            </li>

                            <li id="table-head">
                                <span>
                                    <input type="checkbox" id="bulldozer" class="checkbox"
                                           name="bulldozer" value="bulldozer" width="20">
                                </span><span>
                                    <a class="dropdown-item" href="#">
                                        Show underbridge and
                                        overbridge
                                    </a>
                                </span>
                            </li>

                            <li id="table-head">
                                <span>
                                    <input type="checkbox" id="bulldozer" class="checkbox"
                                           name="bulldozer" value="bulldozer" width="20">
                                </span><span>
                                    <a class="dropdown-item" href="#">Show level crossing</a>
                                </span>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link" href="#" id="nav-contstraints" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="~/Content/assets/images/Group 1077.svg" width="30">
                    </a>
                    <ul class="dropdown-menu pl-3" aria-labelledby="nav-contstraints">
                        <li id="table-head">
                            <span>
                                <input type="checkbox" id="bulldozer" class="checkbox"
                                       name="bulldozer" value="bulldozer" width="20">
                            </span><span>
                                <a class="dropdown-item" href="#">Show all contraints</a>
                            </span>
                        </li>
                        <li id="table-head">
                            <span>
                                <input type="checkbox" id="bulldozer" class="checkbox"
                                       name="bulldozer" value="bulldozer" width="20">
                            </span><span>
                                <a class="dropdown-item" href="#">Show affected constraints</a>
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link active" href="#" id="movements" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/Content/assets/images/Group 540.svg" width="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="movements">
                        <li><a class="dropdown-item" href="#">Show all constraints</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Show affected constraints</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Show unsuitable constraints</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Don't show contraints</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="mySidenav1" class="sidenav" style="display: none;">
        <!-- filter settings -->
        <div id="filters" class="sidenav filter-sidenav">

        </div>
        <!-- end of filter settings -->

    </div>
</div>




@{
<input type="hidden" value="@ViewBag.ShowReturnLeg" id="hf_ShowReturnLeg1" name="hf_ShowReturnLeg1" />
}
@Html.Hidden("hf_RouteFlag", Session["RouteFlag"])
<script src="~/Scripts/Routes/MovementRoutePlan.js?V@(Session["ProjectVersion"])"></script>
