@using System.Web.Optimization
@using STP.Domain
@*@model STP.Domain.Application.SOApplicationTabs*@
@{
    ViewBag.Title = "ShowBrokenRoutes";
    bool isAdmin = false;
    int portalType = 0;
    int count = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
    int FlagValue = 0;
    if (ViewBag.FlagValue != null)
    {
        FlagValue = ViewBag.FlagValue;
    }
    @Html.Hidden("LastCandVersion", "LastCandVersion")
    @Html.Hidden("hf_FlagValue", FlagValue.ToString())

}

<div id="brokenDivDetails" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content pl-3">
            <div class="modal-header pt-1">
                @*<span aria-hidden="true" class="close" data-dismiss="modal"
        aria-label="Close">&times;</span>*@
                @*<span id="spnclosebroken" class="text-normal pr-1"
              style="color:rgba(39, 87, 149, 1);font-size:50px;float:right;margin-top: -23px;font-family: lato_light;">
            &times;
        </span>*@
            </div>
            <div class="modal-body">
                <img src="/content/assets/images/warning-icon2.svg" width="30">
                <div class="edit-normal"> Summary of problems</div>
                <div class="row mb-1">
                    <div class="col-sm-11 col-md-11 col-lg-11 pr-0">

                        <table style="width: 100% !important;">


                            @if (ViewBag.BrokenRoutes.Count != 0)
                            {
                                <tr style="border-bottom: 0px;">
                                    @if (FlagValue == 1) //send for checking
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the candidate version (<span id="revN">###</span>) contain previous map data and will need to be re-planned. Please re-plan before sending for checking. When re-planning the route on the map re-enter the start/end addresses and reconnect all waypoints, viapoints and re-add any annotations or special manoeuvres to the road network.</td>

                                    }
                                    else if (FlagValue == 2)
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the movement version (<span id="verN">###</span>) contain previous map data and will need to be re-planned. Please re-plan before distributing the movement version. When re-planning the route on the map re-enter the start/end addresses and reconnect all waypoints, viapoints and re-add any annotations or special manoeuvres to the road network.</td>
                                    }


                                    else if (FlagValue == 3)
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade your proposed Special Order route contains previous map data. You may continue to notify this route, however please check the affected parties carefully to ensure that all the relevant parties are included in this notification. If not, please add any missing parties manually.</td>
                                    }
                                    //commented for allow notify SO with broken route
                                    /* else if (FlagValue == 4)
                                    {
                                        <td colspan="2">The agreed route you are trying to notify contain gaps in the road network. Please revise the application and resubmit.</td>
                                    }  */
                                    else if (FlagValue == 5)      // comented for creating candidate routes from last application route broken route check changed frm blocking to warning
                                    {
                                        <td colspan="2">Route(s) in this application are imported from the previous map data and  contain gaps in the road network. Please re-plan or import new route before proceeding.</td>
                                    }
                                    else if (FlagValue == 6)
                                    {
                                        <td colspan="2">Route(s) in the last movement version routes are imported from the previous map data and contain gaps in the roadnetwork. Please re-plan before approving</td>
                                    }
                                    else if (FlagValue == 7)
                                    {
                                        if (ViewBag.ItemType == "SO")
                                        {
                                            <td colspan="2">Please be aware that due to the map upgrade the Special Order movement you are trying to view contains previous map data. You can still respond to this movement.</td>
                                        }
                                        else
                                        {
                                            <td colspan="2">Please be aware that due to the map upgrade the notified route you are trying to view contains previous map data. You can still respond to this notification.</td>
                                        }
                                    }
                                    else if (FlagValue == 10)//complete checking
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the candidate version (<span id="revN">###</span>) contain previous map data and will need to be re-planned. Please re-plan before completing checking. When re-planning the route on the map re-enter the start/end addresses and reconnect all waypoints, viapoints and re-add any annotations or special manoeuvres to the road network.</td>
                                    }
                                    else if (FlagValue == 11)//create new movment version
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the candidate version (<span id="revN">###</span>) contain previous map data and will need to be re-planned. Please re-plan before creating a new movement version. When re-planning the route on the map re-enter the start/end addresses and reconnect all waypoints, viapoints and re-add any annotations or special manoeuvres to the road network.</td>
                                    }
                                    else if (FlagValue == 12)//complete checking
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the candidate version (<span id="revN">###</span>) contain previous map data. Please select to edit the route and click the ‘Replan’ button to automatically re-plan the route and then save it again.</td>
                                    }
                                    else if (FlagValue == 13)//send for checking
                                    {
                                        <td colspan="2">Please be aware that due to the map upgrade route(s) in the candidate version (<span id="revN">###</span>) contain previous map data. Please select to edit the route and click the ‘Replan’ button to automatically re-plan the route and then save it again.</td>
                                    }
                                </tr>
                                <tr style="border-bottom: 0px;">
                                    <td colspan="2">
                                        @foreach (var item in ViewBag.BrokenRoutes)
                                        {
                                            count++;
                                            <span>
                                                @count<span>.</span> @item
                                                <br />
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-4">
                <button type="button" class="btn btn-secondary close-popup" id="spnclosebroken" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
