@using STP.Domain.VehiclesAndFleets.Configuration
@{
    var FavoriteVehicles = (List<VehicleList>)ViewBag.FavoriteVehicles;
    var IsAddVehicleError = ViewBag.VehicleError == null ? 0 : (int)ViewBag.VehicleError;
}
<style>
    .dropdown-item:hover {
        color: black;
    }
</style>
<div>
    <div class="row head-left-align" style="display: none;">
        <div class="col-lg-12 col-md-12 col-sm-12 pt-5 pb-2 title">
            Choose Components
        </div>
    </div>

    <div id="content-header" class="head-left-align" style="margin-left:0;">
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="title route-head">Choose an Option to Select Vehicle Configuration</label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 pr-1 button main-button" style="width: 14%;">
                        <button class="btn btn-outline-primary btn-normal btn_createvehicle " role="button"
                                aria-pressed="true">
                            CREATE VEHICLE
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 pr-1 button main-button" style="width: 13%;">
                        <button class="btn btn-outline-primary btn-normal btn_fleetlibrary" role="button"
                                aria-pressed="true">
                            FLEET LIBRARY
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-8 col-xs-8 pr-1 button main-button" style="width: 18%;">
                        <button class="btn btn-outline-primary btn-normal btn_prevmovement" role="button"
                                aria-pressed="true">
                            PREVIOUS MOVEMENT
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 button main-button" style="width: 12%;">
                        <button class="btn btn-outline-primary btn-normal" role="button"
                                aria-expanded="false" data-bs-toggle="dropdown">
                            FAVOURITES
                        </button>
                        <ul class="dropdown-menu mt-2" aria-labelledby="movements" style="width:auto;">
                            @foreach (var item in FavoriteVehicles)
                            {
                                <li class="pr-2 pl-4 li_vehicleformovement" href="#" data-vehicleid=@item.VehicleId data-flag=2>
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <span>
                                                <a class="dropdown-item edit-normal" href="#">
                                                    @item.InternalName
                                                </a>
                                            </span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <span>
                                                <img src="~/Content/assets/images/star-enabled.svg" width="20"
                                                     alt="vehicle-1">
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                            }
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-5 col-sm-8 col-xs-8 pr-1 button main-button" style="width: 40%;">
                        <button class="btn btn-outline-primary btn-normal btn_choosefromsimilarcombination" role="button"
                                aria-pressed="true">
                            ENTER DIMENSIONS TO FETCH SIMILAR VEHICLE FROM FLEET
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<hr>*@

    <div class="row head-left-align pb-3" id="vehicle-container" style="display: none;">
        <div class="row head-left-align pt-3" style="margin-left: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 title">
                Choose an Option
            </div>
        </div>
        <div class="row head-left-align" style="margin-left: 0px;">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 card-image">
                <div class="mt-3 mb-3 filters" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-4">
                            <span>
                                Select Vehicle Configuration
                                <img class="pt-1" src="~/Content/assets/images/Path-down-chevlon.svg" width="14"
                                     style="float: right;">
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="dropdown-menu mt-2" aria-labelledby="movements" style="width:auto;">
                    <li class="pl-4"><a class="li_createvehicle edit-normal" href="#">Create Vehicle</a></li>
                    <hr>
                    <li class="pl-4"><a class="li_fleetlibrary edit-normal" href="#">Choose from Fleet</a></li>
                    <hr>
                    <li class="pl-4"><a class="li_prevmovement edit-normal" href="#">Choose from Previous Movement</a></li>
                    <hr>
                    <li class="pl-4"><a class="li_choosefromsimilarcombination edit-normal" href="#">Enter Dimensions to Fetch Similar Vehicle from Fleet</a></li>
                    <hr>

                    <li>
                        <a class="dropdown-item text-decorate" href="#">Favourites</a> <hr>
                        <ul class="sub-list" style="padding-left: 0 !important;">
                            @foreach (var item in FavoriteVehicles)
                            {
                                <li class="pr-2 pl-4 closeamendmentpopup" href="#">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <span>
                                                <a class="dropdown-item edit-normal" href="#">
                                                    @item.InternalName
                                                </a>
                                            </span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <span>
                                                <img src="~/Content/assets/images/star-enabled.svg" width="20"
                                                     alt="vehicle-1">
                                            </span>
                                        </div>
                                    </div>
                                </li>

                                <hr class="pl-0">
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height: 150px;">@*dummy div*@</div>
</div>

<style>
    .btn-primary:disabled {
        background-color: rgba(39, 87, 149, 1);
    }

    /*.pl-4:hover {
        background-color: #e9ecef;
    }*/
</style>
@Html.Hidden("hf_IsAddVehicleError", IsAddVehicleError)