@using STP.Domain.VehiclesAndFleets.Configuration;
@using STP.Domain.SecurityAndUsers
@{

    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
}

<div id="imminentBanner" class="row" style="display:none;">
        <span id="imminentBannerMsg"></span>
</div>
@{Html.RenderAction("GetAssessmentDetails", new { isBackCall = ViewBag.IsBackCall, task = 3 }); }