@{
    ViewBag.Title = "ManageOrganisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ADMIN;
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>
<div id="helpdesk">
    <!--main content -->
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            <div>
                <div class="header">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="button mr-0">
                                <button class="btn btn-outline-primary btn-normal pl-8 pr-8" role="button" aria-pressed="true" id="createOrg">
                                    NEW
                                    ORGANISATION
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="title">
                                MANAGE ORGANISATIONS
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table -->
                <div id="manage-user">

                </div>
                <div id="createUser">

                </div>
                <!-- end of table -->
            </div>
        </div>
    </section>
    <!-- end of main content -->
</div>


<script src="~/Scripts/Organisation/ManageOrganisation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Organisation/jQuery.Organisation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Organisation/_OrganisationList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Organisation/_CreateOrganisation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Organisation/_ViewExistingOrganisation.js?V@(Session["ProjectVersion"])"></script>

