<!DOCTYPE html>
<html>
<head>
    <title>All uploads</title>

    <meta charset="utf-8">
    <style type="text/css">
        #saveashtml {
            position: absolute;
            height: 33px;
            width: 100px;
            z-index: 1;
            top: 30px;
            border: none;
            left: 561px;
            background: #f1f1f1;
            cursor: pointer;
            background: -moz-linear-gradient(to bottom, rgba(135, 185, 120, 0) 0%,rgba(151, 149, 150, 0.46) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#e2e2e2));
            background: -webkit-linear-gradient(to bottom, rgba(135, 185, 120, 0) 0%,rgba(151, 149, 150, 0.46) 100%);
            background: -o-linear-gradient(to bottom, rgba(135, 185, 120, 0) 0%,rgba(151, 149, 150, 0.46) 100%);
            background: -ms-linear-gradient(to bottom, rgba(135, 185, 120, 0) 0%,rgba(151, 149, 150, 0.46) 100%);
            background: linear-gradient(to bottom, rgba(135, 185, 120, 0) 0%,rgba(151, 149, 150, 0.46) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#e2e2e2',GradientType=0 );
        }

        #banner-header {
            width: 100%;
            float: left;
            height: 30px;
            color: #fff;
        }

        .headgrad {
            background-image: -webkit-linear-gradient(rgb(46, 110, 110) 0px, rgb(64, 127, 127) 100%);
            background-image: -moz-linear-gradient(rgb(46, 110, 110) 0px, rgb(64, 127, 127) 100%);
            background-image: -o-linear-gradient(rgb(46, 110, 110) 0px, rgb(64, 127, 127) 100%);
            background-image: -ms-linear-gradient(rgb(46, 110, 110) 0px, rgb(64, 127, 127) 100%);
            background-image: linear-gradient(rgb(46, 110, 110) 0px, rgb(64, 127, 127) 100%);
            background-image: -webkit-linear-gradient(rgb(19, 96, 168) 0px, rgb(1, 77, 147) 100%);
            background-image: -moz-linear-gradient(rgb(19, 96, 168) 0px, rgb(1, 77, 147) 100%);
            background-image: -o-linear-gradient(rgb(19, 96, 168) 0px, rgb(1, 77, 147) 100%);
            background-image: -ms-linear-gradient(rgb(19, 96, 168) 0px, rgb(1, 77, 147) 100%);
            background-image: linear-gradient(rgb(19, 96, 168) 0px, rgb(1, 77, 147) 100%);
            background: #006699;
            font-size: 13px;
        }

        .header {
            margin: 5px 0 0 5px;
        }

        .HlpHeader {
            font-family: lato_light;
            font-size: 25px;
            text-align: center;
            letter-spacing: 0.00px;
            color: rgba(92, 92, 92, 1);
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
            font-weight: 500;
            font-style: normal;
            box-shadow: none;
            height: 2.5rem;
        }
    </style>
    @*<script src="~/Scripts/Common/jQuery.prevent.back.js?V@(Session["ProjectVersion"])"></script>*@
</head>
<body>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="cursor:default;">
                    <span class="d-lg-flex d-md-flex mr-0 ml-0">
                        <img class="" src="/Content/assets/esdal-logo.png" >

                    </span>
                </a>

                <div class="navbar-nav d-lg-block" id="user">
                    <span id="CloseHelpp" style="cursor: pointer;float: right; width: 20px;"><img src="../Content/assets/images/modal-close-icon.svg"  id="scoll-right-btn" width="20"></span>
                </div>
            </div>
        </nav>

    </section>
    <div id="render_body_div" class="banner-align">
        <section id="banner" class="vehicle-setting planMovementContainer">
            <div class="container-fluid" style=" background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(201, 205, 229, 0.44) 100%); padding-top: 20px !important;  padding-bottom: 20px;">
                <div id="vehicles" class="flowComponent">

                    <div id="progressBar" class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 pt-5 title">
                            <span id="plan_movement_hdng">HELP BUILDER</span><br>
                        </div>
                    </div>
                    <div id="select_vehicle_section">
                        <div>
                            <div id="content-header" class="head-left-align" style="margin-left:0;">
                                <div class="form form_component pt-2 pr-5" id="div_help_builder">

                                    @*<div class="head headgrad head_component" ><div class="dyntitle">Help builder</div><span aria-hidden="true" data-icon="&#xe0f3;" id="span-close" ></span>   </div>*@
                                    <form action="../Generic/CreateHtml?Length=4" data-ajax="true" data-ajax-success="LoadPage" id="form_file" method="post" novalidate="novalidate">
                                        @*<div class="body">*@
                                        <div id="page" style="width:100%">
                                            <textarea id="redactor_content" name="FileContent"></textarea>
                                            <!--<input type="text" id="redactor_content"/>-->
                                            <input id="fileName" name="FileName" type="hidden" value="">
                                            <input id="flag1" name="Flag" type="hidden" value="">
                                        </div>
                                        <div class="text-center">
                                            <div class="button">
                                                <button class=" btn-outline-primary site-button btn-layout mt-4 mr-r1" role="button" aria-pressed="true" id="saveashtml1" type="submit"
                                                        >
                                                    SAVE
                                                </button>
                                                <button id="Closehelp1" class=" btn-outline-primary site-button btn-layout mt-4" role="button" aria-pressed="true">
                                                    CLEAR
                                                </button>
                                            </div>
                                        </div>
                                        @* </div>*@
                                    </form>
                                    @*</div>*@
                                    <form action="../" data-ajax="true" data-ajax-success="LoadHtmlContent" id="form_html_content" method="post" novalidate="novalidate">
                                    </form>


                                    <form action="../Generic/GetHtmlPage" data-ajax="true" data-ajax-success="LoadHtmlContent" id="form_html_edit" method="post" novalidate="novalidate">
                                        <input id="url_html_edit" name="fileName" type="hidden" value="">
                                        <input id="flag2" name="flag" type="hidden" value="">
                                    </form>

                                    <div id="pop-warning" style="display:none;" class="pop-overlay1">
                                        <div id="POP-warning" class="POP-dialogue1">
                                            <div class="popup1">
                                                <div class="message1">
                                                    <span aria-hidden="true" data-icon="&#xe0f3;" class="span clox"></span>
                                                    <img src="~/Content/assets/images/completed.svg"  width="30" style="margin-top:30px">
                                                    <div class="pop-message">


                                                    </div>
                                                </div>
                                                <div class="footer1">
                                                    <button class="btngrad btnrds btnbdr box_warningBtn1 btn-outline-primary site-button" style=" width: 100px;height: 40px;padding: 8px;"></button>
                                                    <button class="btngrad btnrds btnbdr box_warningBtn2"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style_htmlbuilder.css" rel="stylesheet" />
<link href="~/Content/Style/Common/redactor.css" rel="stylesheet" />

@*@System.Web.Optimization.Scripts.Render("~/bundles/redactor")*@
<script src="~/Scripts/JQuery/V103/jquery-1.9.1.min.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Common/MasterPage/jquery.uiControls.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Web/redactor.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Generic/Index.js?V@(Session["ProjectVersion"])"></script>
