<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-5 pb-2 title"> Choose Components </div>
</div>
<div class="row pb-3 mt-4" id="widgetsContent" style="scroll-behavior: smooth; flex-wrap:none; padding-right:5%; display: flex; flex-flow:inherit; overflow:hidden">

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" id="dropdown_div">
        <div class="card" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <div>
                <img src="~/Content/assets/images/add-icon.svg" class="mt-3" width="50" alt="add-icon"
                     style="mix-blend-mode: darken;">
            </div>
        </div>

        <ul class="dropdown-menu mt-2" id="ulComponent" aria-labelledby="movements" style="width:auto;">
            <li class="pl-4"><a class="dropdown-item edit-normal a_createComponent" href="#">Create new component</a></li>

            <hr>
            <li class="pl-4"><a class="dropdown-item edit-normal a_selectComponent" href="#" >Choose from fleet</a></li>

            @if (!ViewBag.IsCandidate)
            {
                <hr>
                <li>
                    <a class="dropdown-item text-decorate" href="#">Favourites</a> <hr>
                    <ul class="sub-list" style="padding-left: 0 !important;" id="componentFav">
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

<div class="row mt-4" id="divBoatMast" style="display:none;">
    <div class="col-lg-1">
        <input type="checkbox" id="BoatMastException" name="BoatMastException" value="false" >
    </div>
    <div class="col-lg-11 edit-normal semi-trailer" style="margin-left: -3rem;"> For some very light loads, such as yacht masts, on conventional motor vehicles not exceeding 12,000kgs gross weight or trailers not exceeding 10,000kgs, the check box may be selected if the rigid length exceeds 27.4m, to claim a special order rather than a VSO. </div>
    <div class="col-lg-11 edit-normal rigid" style="margin-left: -3rem;"> For some very light loads, such as yacht masts, on conventional motor vehicles not exceeding 12,000kgs gross weight or trailers not exceeding 10,000kgs, the check box may be selected if the rigid length exceeds 27.4m, to claim a special order rather than a VSO. </div>
</div>


@*<script src="~/Scripts/VehicleConfiguration/_ComponentSelection.js?V@(Session["ProjectVersion"])"></script>*@