@{
    string CompImageName = ViewBag.CompImageName;
    int ComponentId = ViewBag.ComponentId;
    int Iteration = ViewBag.Iteration;
    var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + CompImageName + ".png";
}
<div class="card mb-3 divComponentDataItem @(Iteration==1?"active":"")" id="compHeader-@ComponentId" data-elemtodisplay="divComponentDataMain-@ComponentId">
    <img src="@Url.Content(ImageName)" alt="@ViewBag.CompName"
         style="mix-blend-mode: darken;">
    <div id="ComponentAddToFleet" class="align-self-center mx-4" style="padding-left: 11rem; margin-top: -3rem;">
        <img class="comp-shad-sub-add-fleet"  data-compshadsubid="@ComponentId" src="~/Content/assets/images/save-to-library.svg" width="22" style="cursor: pointer;" alt="Remove Component" title="Add To Fleet">
    </div>
</div>
