@{
    var VehicleImageName = (List<string>)ViewBag.VehicleImage;
}
<div class="card mb-3" id="div_vehicleImg" style="width:max-content !important;">
    @if (VehicleImageName.Count > 0)
    {
        foreach (var imgName in VehicleImageName)
        {
            var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + imgName + ".png";
            <img alt="vehicle-2" id="vimg" style="mix-blend-mode: darken;" src="@Url.Content(ImageName)">

        }
    }
</div>
