
@using STP.Domain.VehiclesAndFleets.Configuration
@{
    List<VehicleConfigList> vehicleConfigList = ViewBag.ComponentList;
    var iterationCount = 0;
    bool isLastComponent = false;    
}
<div class="modal fade" id="allAxleDetailsPopUp" tabindex="-1" role="dialog" style="cursor: pointer"
     aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document"
         style="max-width: 70rem;">
        <div class="modal-content" style="width: 70rem; height: auto; padding:2rem;">
            <div id="divmodalclose" class="modal-header pt-2 view-allaxle-modal-close" style="justify-content: end; cursor: pointer;">
                <span aria-hidden="true" class="close" data-dismiss="modal"
                      aria-label="Close">&times;</span>
            </div>
            <div id="axlePage" class="allAxleDetailsPopUp">
                @{ 
                    Html.RenderAction("ViewAxleDetails", "VehicleConfig", new { vehicleConfigList= vehicleConfigList, isRoute = (bool)ViewBag.isRoute, movementTypeId = ViewBag.movementTypeId, isNotif = (bool)ViewBag.isNotif, isMovement = (bool)ViewBag.movement, isVR1= (bool)ViewBag.isVR1, isFleet=(int)ViewBag.isFleet });

                }
            </div>
        </div>
    </div>
</div>