@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.SecurityAndUsers.HaulierContactModel


@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}

@*<td class="pt-6 pb-6 tex" colspan="4" style="background-color: white !important;">*@    
    <div id="desc-entry" style="width: 100%;">
        <div class="pb-3 wd-align">
            <div class="text-normal wd20">
                Contact Name
            </div>
            <div class="wd20">
                @Html.LabelFor(model => model.Name, Model.Name, new { @class = "text-dark" })
            </div>
        </div>
        <div class="pb-3 wd-align bol">
            <div class="text-normal wd20">
                Organisation Name
            </div>
            <div class="wd20">
                @Html.LabelFor(model => model.OrganisationName, Model.OrganisationName, new { @class = "text-dark" })
            </div>
            <span id="orgNameValidate" class="error invalid-feedback" style="display:none">Organisation is required</span>
        </div>
       
        <div class="pb-3 wd-align">
            <div class="text-normal wd20">
              Email
            </div>
            <div class="wd20">
                @if (!string.IsNullOrEmpty(Model.Fax))
                {
                <label class="text-dark">@Model.Fax</label>
                }
                else
                {
            <label class="text-dark">@Model.Email</label>
                }
            </div>
            
        </div>        
        
        <!-- <div class="flexer justify-content-center mt-5"
            style="margin-left: auto;margin-right: auto;">
            <button class="btn outline-btn-primary SOAButtonHelper mr-2">RESET</button>

        </div> -->
    </div>

@*</td>*@

<script src="~/Scripts/CspJs/AddressBook/AddressDetail.js?V@(Session["ProjectVersion"])"></script>
