

/* style by ARS*/

#banner-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(201, 205, 229, 0.44) 100%);
    color: white !important;
    padding-top: 20px !important;
    padding-bottom: 20px;
}

.text-decoration-link {
    color: rgba(39, 87, 149, 1);
    text-decoration: none;
    cursor: pointer;
}

.route-description {
    padding-left: 30px;
}

#route-description span {
    color: rgba(92, 92, 92, 1);
    font-weight: 500;
    font-style: normal;
    font-size: 15.00px;
    font-family: lato_bold;
    letter-spacing: 0;
    text-decoration: none;
}

#route-description div {
    color: rgba(92, 92, 92, 1);
    font-weight: 500;
    font-style: normal;
    font-size: 15.00px;
    font-family: lato_regular;
    letter-spacing: 0;
    text-decoration: none;
    width: max-content;
}

.no-records-found {
    text-align: center;
    color: black;
}

#so-movements table td:first-child, .so-movements-table td:nth-child(2) {
    width: 8%;
}

.so-movements-table th:nth-child(13) {
    background-color: white;
}

.dashboard-table {
    margin-top: 10px;
    overflow-x: auto;
    border-radius: 25px 0px 0px 0px;
}

    th:nth-child(2) span, .dashboard-table th:nth-child(1) span {
        padding-left: 5px;
    }

    .dashboard-table table td:nth-child(1) {
        padding-left: 40px;
    }

    /*.dashboard-table table td span {
        font-family: lato_bold, Arial;
    }*/
    .dashboard-table th:last-child {
        background-color: rgba(39, 87, 149, 1) !important;
    }

.table-pagination {
    overflow: inherit;
}

    .table-pagination li a {
        color: rgba(92, 92, 92, 1);
        float: left;
        padding: 8px 5px;
        text-decoration: none;
        font-size: 15px;
        font-family: lato_bold;
        transition: background-color .3s;
    }

    .table-pagination li.active {
        background-color: rgba(39, 87, 149, 1);
        border-radius: 10px 10px 10px 10px;
        color: white;
    }

#distribution th:nth-child(1) {
    padding-left: 40px;
}

.disabled {
    color: rgba(92, 92, 92, 1);
}

.displayNone {
    display: none !important;
}

.displayBlock {
    display: block !important;
}

#helpdesk .sidenav-header span {
    font-size: 30px;
}

.bottom-pagination-custom {
    margin-top: 30px;
    padding-left: 25%;
    padding-right: 25%;
}

input[type='text'].ui-autocomplete-loading {
    background: url('/Content/images/autocomplete-loading.gif') no-repeat right center;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#soa-portal-map #table-head {
    justify-content: unset;
}

.filter-list #table-head {
    justify-content: unset;
}

@media only screen and (max-width: 770px) {
    #main-vehicle-list-filter .filter-list .form-select {
        width: 10rem;
    }

    #main-vehicle-list-filter
    .filter-list .btn {
        width: 5rem;
    }
}

@media only screen and (min-width: 770px) {
    #main-vehicle-list-filter .filter-list .form-select {
        width: 18rem;
    }

    #main-vehicle-list-filter
    .filter-list .btn {
        width: 15rem;
    }
}

#main-vehicle-list-filter .filter-list .form-select {
    /* width: 1rem; */
    float: left;
    margin-right: 0;
    border: 1px solid lightgrey;
}

#main-vehicle-list-filter .filter-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 48px;
    /* margin-left: 50px; */
    margin-top: -23px;
}

#main-vehicle-list-filter .sidenav {
    padding-top: 0;
}

    #main-vehicle-list-filter .sidenav a {
        padding: 10px 5px 10px 40px;
    }

.text-decorate {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 500;
    font-style: italic;
    font-family: lato_light, Arial;
}

#vehicle-config-list th:nth-child(1) {
    width: 18%;
}

#vehicle-config-list td:nth-child(1) {
    padding-left: 40px;
}

#vehicle-config-list td:nth-child(4), #vehicle-config-list td:nth-child(5), #vehicle-config-list td:nth-child(6) {
    text-align: center;
}

#vehicle-config-list th:nth-child(2) {
    width: 35%;
}

#vehicle-config-list th:nth-child(3) {
    width: 22%;
}

#vehicle-config-list th:nth-child(6) {
    width: 15%;
}

#vehicle-config-list th:nth-child(9) {
    background-color: white;
    text-align: center;
    cursor: pointer;
}

#route-list th:nth-child(1) {
    width: 40%;
}

#route-list th:nth-child(2) {
    width: 10%;
}

#reviewCausionPaginator .pagination {
    overflow: inherit;
    color: rgba(92, 92, 92, 1);
}

.pagination {
    overflow: inherit;
}
    .pagination li {
     padding:0 !important; 
    }

    .pagination li a {
        color: rgba(92, 92, 92, 1);
        float: left;
        padding: 8px 5px !important;
        text-decoration: none;
        font-size: 15px;
        font-family: lato_bold;
        transition: background-color .3s;
    }

    .pagination li.active {
        background-color: rgba(39, 87, 149, 1);
        border-radius: 10px 10px 10px 10px;
        color: white;
    }

.disabled {
    color: rgba(92, 92, 92, 1);
}

#distribution-status td:nth-child(1) {
    padding-left: 40px;
}

.table-filter-header {
    background-color: white !important;
    text-align: center;
    cursor: pointer;
}

#first-column {
    display: flex;
}

#vehicle-components-list td:nth-child(1) {
    padding-left: 40px;
    width: 15%;
}

#vehicle-components-list td:nth-child(2) {
    width: 15%;
}

#vehicle-components-list td:nth-child(4) {
    width: 15%;
}

#vehicle-components-list th:nth-child(9) {
    width: 16%;
}

#vehicle-components-list th:nth-child(12) {
    background-color: white;
    text-align: center;
    cursor: pointer;
}

#sort-movement-table th:nth-child(1) {
    padding-left: 40px;
}

#sort-movement-table td:nth-child(1) {
    padding-left: 40px;
}

.distribution-filter-drop {
    float: left !important;
    width: 91% !important;
    height: 85% !important;
}

/*#sort-movement-table th:nth-child(12) {*/
#sort-movement-table th:last-child {
    background-color: white !important;
    text-align: center;
    cursor: pointer;
}

/*---------------------------------------------Style for animation gif-------------------------------------*/
#overlay_load {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.3);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}
/*------------------------------Style for animation gif ends here------------------------------------*/
.route-head {
    font-size: 20px;
    font-style: normal;
    list-style: none;
    font-family: lato_light, Arial;
    color: rgba(39, 87, 149, 1) !important;
}

.modal-body .popup-padding {
    padding: 1rem 1rem !important;
}

.import-button {
    background-color: transparent;
    border-color: rgba(39, 87, 149, 1);
    color: rgba(39, 87, 149, 1);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 0px;
    border-radius: 6px;
}

.distribution-table td span {
    font-family: lato_bold, Arial !important;
}

.mouseCursor {
    cursor: pointer;
}

/*UI datepicker monday styling issue*/
#ui-datepicker-div th:nth-child(2) span {
    color: #9E9E9E !important;
}

#ui-datepicker-div th:last-child {
    background-color: rgba(39, 87, 149, 1) !important;
}

.first-column-padding {
    padding-left: 40px;
}

.total-records-number {
    padding-left: 40px;
    margin-top: 10px;
}

/*a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
}*/

.status-align {
    float: left;
    display: inline;
}

.inline-display {
    display: inline;
}

.float-left {
    float: left;
}

.status-align-flex {
    float: left;
    display: inline-flex;
}

#notifBar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #5d6b85;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #notifBar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
#notifBarMap {
    visibility: hidden;
    /*min-width: 600px;
    width:800px;*/
/*    margin-left: -125px;
*/    background-color: #5d6b85;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 32%;
    top: 50%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:800px;
}

    #notifBarMap.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

#movement-vehicle {
    background-color: white;
    margin: 1% 1% 1% 1% !important;
}

    #movement-vehicle .title {
        font-size: 25px;
        font-style: normal;
        list-style: none;
        font-family: lato_light, Arial;
        color: rgba(39, 87, 149, 1) !important;
    }


.white {
    background-color: white !important;
}

/* Style the counter cards */
.cards {
    margin: 0 !important;
    text-align: center;
    background-color: white;
    border-radius: 0px !important;
    display: block;
    height: 3rem;
    /*padding-top: 0.5rem;*/
    padding: 0.5rem 0.5rem 0 0.5rem;
}

/* #sort-menu-list .card  */
.nonactive {
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding-left: 0px !important;
}

.Noborder {
    border-bottom: 0px solid rgba(206, 206, 206, 1) !important;
}

.card {
    cursor: pointer !important;
}

.text-area {
    margin-right: 5px;
    margin-right: 5px;
    padding: 0.5rem;
    font-size: 14px;
    font-family: lato_medium;
    font-style: normal;
    color: grey;
}

.currently-loading {
    z-index: 10;
    width: 18px;
    height: 18px;
}

.footer_login {
    width: 100vw;
}

td .inprogressimg {
    float: left;
    height: 30px;
    width: 20px;
    background: url("../../Content/assets/images/Group 1848.svg") no-repeat scroll 0px 0px;
    background-size: 100%;
}

.footer_login a {
    font-size: 14px;
    color: #999999;
}

td .completedimg {
    float: left;
    height: 26px;
    width: 21px;
    background: url("../../Content//assets/images/generate-VR1.svg") no-repeat scroll 0px 0px;
}

.detailsFormatter {
    font-size: 15px;
    font-family: lato_medium, Arial;
    color: black;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}

.modal-content {
    height: auto !important;
}

.text-align-left {
    text-align: left;
}

.site-button {
    background-color: transparent;
    border-color: rgba(39, 87, 149, 1);
    color: rgba(39, 87, 149, 1);
    padding-top: 6%;
    padding-bottom: 6%;
    margin-right: 0px;
}

    .site-button:hover {
        color: white !important;
        background-color: rgba(39, 87, 149, 1) !important;
    }

.RD-button:hover {
    color: white !important;
    background-color: rgba(39, 87, 149, 1) !important;
}

.footer a {
    text-decoration: none;
}

/*annotation popup form aplication */

#routeNotifBody .modal-content {
    overflow: auto;
}


#routeNotifBody .modal-content {
    vertical-align: middle;
    height: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 5px;
    overflow-x: hidden;
}

#routeNotifBody .close {
    padding-left: 0;
}

#routeNotifBody .details {
    font-family: lato_light;
    font-size: 20px;
}

#routeNotifBody .form-control {
    width: 18rem;
}

#routeNotifBody .form-select {
    color: #275795;
}

#routeNotifBody .select1 {
    width: 70% !important;
    border-radius: 10px;
}

#routeNotifBody .modal-body .edit-normal {
    padding: 0;
}

#routeNotifBody .modal-body td {
    padding: 5px 8px 5px 8px;
}

#routeNotifBody th.table-soa {
    padding: 0.5rem 2rem;
}



#routeNotifBody #exampleModalCenter2 .text-normal,
#routeNotifBody #exampleModalCenter2 .details1 {
    text-align: initial;
}

/*Anotation on sortside*/


#SoprocRtDiv .sopmodal-content {
    overflow: auto;
}


#SoprocRtDiv .sopmodal-content {
    vertical-align: middle;
    height: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 5px;
    overflow-x: hidden;
}

#SoprocRtDiv .sopclose {
    padding-left: 0;
}

#SoprocRtDiv .sopdetails {
    font-family: lato_light;
    font-size: 20px;
}

#SoprocRtDiv .sopform-control {
    width: 18rem;
}

#SoprocRtDiv .sopform-select {
    color: #275795;
}

#SoprocRtDiv .sopselect1 {
    width: 70% !important;
    border-radius: 10px;
}

#SoprocRtDiv .sopmodal-body .sopedit-normal {
    padding: 0;
}

#SoprocRtDiv .sopmodal-body td {
    padding: 5px 8px 5px 8px;
}

#SoprocRtDiv th.soptable-soa {
    padding: 0.5rem 2rem;
}

#SoprocRtDiv #exampleModalCenter2 .soptext-normal,
#SoprocRtDiv #exampleModalCenter2 .sopdetails1 {
    text-align: initial;
}


.btn-outline-primary:focus {
    box-shadow: none !important;
}

.outline-btn-primary:focus {
    box-shadow: none !important;
}

.vehicle-view-width {
    width: 50% !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

a {
    text-decoration:none;
    cursor:pointer;
}

.left-col {
    background: url('../../Content/assets/images/loginimg.jpg') no-repeat top center;
    background-size: cover;
}

.lgtbtn .outline-btn-primary:hover img {
    filter: brightness(0) invert(1);
}

.login-rt-col {
   /* min-height: 95vh;
    height: auto !important;
    margin: 0 auto -25px;
    padding-bottom: 45px;*/
   display:flex;
   flex-direction:column;
   height:100vh;
}

footer {
    margin-top: auto;
    min-height:60px;
}

.footer-login {
    text-align: center;
}

.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e9eef4;
}
.GridTable .badge {
    font-weight:500;
    font-size:15px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #ffffff;
}

/* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #b0b0b0;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }


body {
    overflow-y: scroll;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.esdal-disclaimer {
    padding: 5px 20px 20px 20px;
    clear:both;
}

 .esdal-disclaimer p {
     padding:0;
    text-align:left;
    font-size:13px;
    }

#progressbar li.active:before, #progressbar li.active:after {
    border-color: rgba(39, 87, 149, 1);
    color: #fff;
}

@media screen and (min-width: 1288px) and (max-width: 4000px), (min-width: 750px) and (max-width: 992px) {

    #progressbar li:before {
        line-height: 34px;
    }
}

.datepicker {
    padding: 0;
   border-radius: 0 !important;
}
.datepicker th, .datepicker th:last-child {
    background: #fff !important;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
.form-check-input:checked[type=radio], input[type="radio"]:checked {
    box-shadow: inset 0 0 0 2px #ffffff;
    background: #275795;
    border: 1px solid #5c5c5c;
}
.ClsImag {
     background-image: url('assets/images/modal-close-icon.svg');
}
.selectcol{
    background-color:white !important;
}
.save-routehead {
    font-size: 15px;
    font-family: lato_medium, Arial;
    color: black;
    font-style: normal;
    font-weight: 500;
}
.ZINdexMax{
    z-index:999999 !important;
}
.haulimage {
    position: absolute;
    right: 0px;
    padding-right: 40px;
    padding-left: 60px !important;
}
.removeScroll{
    overflow:hidden !important;
}
.filter-table-icons img {
    cursor:context-menu;
}
.filter-table-icons img {
    height: 1.5rem;
}
.div-disabled, .div-disabled button, .div-disabled input{
    cursor: not-allowed !important;
}
input:disabled {
    cursor: not-allowed !important;
}
#add-caution, #createConsDiv, #edit-caution {
    border-top: none !important;
}
.content-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3) center center no-repeat;
    z-index: 1000;
}
    .content-loader.relative{
        position:relative;
        min-height:150px !important;
    }

    .content-loader .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-loader .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    .content-loader .content-loader-loading {
        left: 50%;
        top: 60%;
        font-size: 20px;
        font-family: serif;
        font-weight: bold;
        letter-spacing: 4.4px;
        text-transform: capitalize;
        position: absolute;
        overflow: hidden;
        transform: translate(-50%, -60%);
    }

        .content-loader .content-loader-loading:before {
            color: #161313;
            content: attr(data-loading-text);
        }

    .content-loader .content-loader-loading:after {
        top: 0;
        left: 0;
        width: 0;
        opacity: 1;
        color: #fff;
        overflow: hidden;
        position: absolute;
        content: attr(data-loading-text);
        -webkit-animation: content-loader-loading 5s infinite;
        animation: content-loader-loading 5s infinite;
    }

@-webkit-keyframes content-loader-loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes content-loader-loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#affectedstructure .soa-div-auth-move {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.last-col-frozen-container {
    overflow-x: scroll;
}

    .last-col-frozen-container table td:last-child, .last-col-frozen-container table thead tr th:last-child {
        position: sticky;
        right: 0;
        background-color: rgb(244 246 250);
        padding-right: 25px !important;
        text-align: center;
        width: 10%;
    }


.btn-open-movement-by-histroy-ref {
    color: #2b5795;
    cursor: pointer;
}