<div class="col-lg-12 col-md-12 col-sm-12 pt-3 flexer justify-content-center" id="divBtnComponent">
    <div id="componentBtn" style="display:none;" >
        @if (ViewBag.IsFromConfig == 1)
        {
            <button type="button" id="btn_comp_finish" class="btn_comp_finish config next btn outline-btn-primary SOAButtonHelper" aria-hidden="true" >SAVE & CONTINUE</button>
        }
        else
        {
            <button type="button" id="btn_comp_finish" class="btn_comp_finish next btn outline-btn-primary SOAButtonHelper" aria-hidden="true" >SAVE COMPONENT TO FLEET</button>
        }
    </div>

    <div class="ml-4">
        <button type="button" id="btn_cancel" class="btn_cancel btn outline-btn-primary SOAButtonHelper ml2" aria-hidden="true" style="display:none;">CANCEL</button>

    </div>
</div>
<script src="~/Scripts/Vehicle/ComponentButton.js?V@(Session["ProjectVersion"])"></script>