@{
    string CompImageName = ViewBag.CompImageName;
    var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + CompImageName + ".png";
}
<div class="pt-8">
    <div id="table-head">
        <div>
            <img src="@Url.Content(ImageName)" alt="vehicle-1"
                 style="mix-blend-mode: darken;">

            <span class="edit-normal pl-5" id="spn_internalName">@ViewBag.CompName</span>
        </div>
        <div class="align-items-center mt-1">
            <span class="text-normal-hyperlink pr-5" id="spnDetailStatus_@ViewBag.ComponentId">Show details</span>
            <span class="pl-3 viewComponentDetail" ComponentId="@ViewBag.ComponentId" >
                <img id="chevlon-down-icon_@ViewBag.ComponentId" class="mt-2 pr-3" src="~/Content/assets/images/down-chevlon-filter.svg"
                     style="float: right; cursor: pointer;" width="32">
                <img id="chevlon-up-icon_@ViewBag.ComponentId" class="mt-2 pr-3" src="~/Content/assets/images/up-chevlon-filter.svg"
                     style="float: right; display: none; cursor: pointer" width="32">
            </span>
        </div>
    </div>
    <hr>
</div>

<script src="~/Scripts/CspJs/Vehicle/GetVehicleComponentImage.js?V@(Session["ProjectVersion"])"></script>
