
@model IEnumerable<STP.Domain.VehiclesAndFleets.Configuration.VehicleRegistration>
<style>
    .tblregcomponent {
        padding-left: 20px !important;
        text-align: left !important;
    }


    .component_alignment {
        text-align: left !important;
    }

    #vehicle-table td {
        padding: 20px 5px 5px 20px;
        text-align: left;
        color: black;
        background-color:white;
    }
</style>

<div id="div_reg_component_vehicle" class="mb-2">   
    <div id="error_msg" class="error invalid-feedback" style="display: block !important;"></div>
    <div class="main-table" id="vehicle-table">
        <table id="vehicle-component" class="temp">
            <thead>
                <tr>
                    <th class="colum1">Registration</th>
                    <th class="colum1">Fleet ID</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <span style="color: red">No records found</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr class="tr_Registration">
                            <td class="colum2">
                                @item.RegistrationId
                            </td>
                            <td class="colum2">
                                @item.FleetId
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
