
@model IEnumerable<STP.Domain.VehiclesAndFleets.Configuration.VehicleRegistration>
<style>
    .tblregcomponent {
        padding-left: 20px !important;
        text-align: left !important;
    }

    .component_alignment {
        text-align: left !important;
    }
</style>

<div id="div_reg_component_vehicle" class="mb-2">
    @{
        int? isFromConfigFlag = ViewBag.IsFromConfig;
        @Html.Hidden("IsFromConfig", isFromConfigFlag);

    }
    <div id="error_msg" class="error invalid-feedback" style="display: block !important;"></div>
    <table class="tbl_registration main-table RegistrationComponent" id="vehicle-table">
        <thead>
            <tr>

                <th class="headgrad pl-3">Registration ID</th>
                <th class="headgrad pl-3">Fleet ID</th>
                @*<th class="headgrad"></th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="2" style="text-align: center">
                        <span style="color: red">No records found</span>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="component_alignment pl-3">
                            <span class="cls_regId" style="width: 100% !important; text-align: left !important;">@item.RegistrationId</span>
                        </td>
                        <td class="component_alignment pl-3">
                            <span class="cls_fleetId" style="width: 100% !important;text-align: left !important;">@item.FleetId</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<style>
    .delete {
        background: url(../../Content/assets/images/delete-icon.svg) no-repeat 15px;
        display: block;
        height: 34px;
    }
</style>