@using STP.Domain.Routes;
@using STP.Domain.VehiclesAndFleets.Configuration;

<div class="row pt-8 pr-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <span class="details" style="color: rgba(39, 87, 149, 1);">Route and Vehicle</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 app-route-vehicle-view" id="table-head" style="justify-content: end;">
        <span id="table-head">
            <span id="view-routeandvehicles" data-var1='viewroutes' >
                <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="rou_veh_chevlon-up-icon3"
                     style="display: none; cursor: pointer;">
                <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="rou_veh_chevlon-down-icon3" style=" cursor: pointer;">
            </span>

        </span>
    </div>
</div>
<hr>
<div id="viewroutes">
    @{
        Html.RenderAction("ViewAppRouteList", "Application", new { versionId = ViewBag.VersionId, appRevisionId = ViewBag.RevisionId });
    }
</div>
