@using System.Web.Optimization
@using STP.Domain

@{
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
}

@{
    long Pageflag = 0;
}

@Html.Hidden("Pageflag", Pageflag)
<section id="banner" class="vehicle-setting">
    <div class="container-fluid" id="banner-container">
        <div id="vehicles" class="new-vehicle">
            <div class="row pb-2">
                <div id="applicatn_refno_status" class="col-lg-12 col-md-12 col-sm-4 col-xs-12  pt-5 title pr-0" style="font-family: lato_bold;">

                </div>
            </div>
            @{
                Html.RenderAction("SOHaulierApplicationDetails", "Application", new { revisionId = ViewBag.RevisionId, versionId = ViewBag.VersionId });
            }
            @{
                Html.RenderAction("ViewRouteVehicleList", "Application", new { appRevisionId = ViewBag.RevisionId, versionId = ViewBag.VersionId });
            }
            @{
                Html.RenderAction("ViewSupplimentaryInfo", "Application", new { appRevisionId = ViewBag.RevisionId });
            }
        </div>

    </div>
</section>
<style>
    div.olMap {
        height: 450px !important;
    }
</style>
@Html.Hidden("hf_userTypeID", userTypeID)
@Html.Hidden("hf_RouteFlag", Session["RouteFlag"])

<script src="~/Scripts/Application/ViewApplication.js?V@(Session["ProjectVersion"])"></script>