@{ Layout = null; }
<input type="hidden" value="@ViewBag.NEN_Notif_No" id="hf_nenotifno" name="hf_nenotifno" />
<div id="Config-body">

</div>

@*<script src="~/Scripts/Logging/NENAuditLogPopup.js?V@(Session["ProjectVersion"])"></script>*@
