@using STP.Domain.Routes;
@using STP.Domain.VehiclesAndFleets.Configuration;
@{
    var VehicleList = (List<VehicleDetails>)ViewBag.VehicleList;
}
@if (VehicleList != null && VehicleList.Count > 0)
{
    foreach (var vehicle in VehicleList)
    {

        <div class="row pt-8 pr-8" id="viewvehicle">
            <div class="col-lg-10 col-md-6 col-sm-12">
                <span>
                    @foreach (var image in vehicle.VehicleNameList)
                    {
                        var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + image + ".png";
                        <img src="@Url.Content(ImageName)" style="mix-blend-mode: darken; flex: 33.33%;"
                             alt="@image">
                    }<span class="details">@vehicle.VehicleName</span>
                </span>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
                <span class="pl-3 viewVehicleDetail" VehicleId="@vehicle.VehicleId" >
                    <img id="chevlon-down-icon_@vehicle.VehicleId" src="~/Content/assets/images/down-chevlon-filter.svg" style="cursor: pointer;" width="15">
                    <img id="chevlon-up-icon_@vehicle.VehicleId" src="~/Content/assets/images/up-chevlon-filter.svg" width="15" style="display: none; cursor: pointer;">
                </span>
            </div>
        </div>
        <hr style="margin-right: 3rem;">
        <div id="viewcomponentdetails_@vehicle.VehicleId" class="mb-2" style="display: none;">
            @{
                Html.RenderAction("ViewConfigurationGeneral", "VehicleConfig", new { vehicleID = vehicle.VehicleId });
            }
        </div>
    }
}

<script src="~/Scripts/CspJs/VehicleConfig/_ApplicationVehicles.js?V@(Session["ProjectVersion"])"></script>
